<section>
  <div class="container">
    <div class="row row-heading">
      <div class="col-md-6 heading-container">
        <span class="heading-container">Login Entries</span>
      </div>
    </div>
    <div class="row heading-container">
      <div class="col-md-6">
        <%= form_tag(sales_manager_login_entries_path, method: :get) do %>
          <input type="text" name="search" value="<%= params[:search] %>" placeholder="Search Here..." class="form-control search">
          <button type="submit" class="btn btn-info"><i class="fa fa-search" aria-hidden="true"></i></button>
        <%end%>
      </div>
      <% unless current_user.accountant? %>
        <div class="col-md-6">
          <%= link_to '+ New Login Entry', sales_manager_new_login_entry_path, class: 'btn btn-info float-right' %>
        </div>
      <%end%>
    </div>
    <% if current_user.admin? || current_user.accountant? %>
      <%= render 'search' %>
    <% else %>
      <br>
    <%end%>
  </div>

  <div class="container">
    <div class="row">
      <table class="table">
        <thead>
          <th>Full Name</th>
          <th>Customer Id</th>
          <th>Product Name</th>
          <th>Company Name</th>
          <th>Executive Name</th>
          <th>Payment Done?</th>
          <th>Approved?</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <% @login_entries.each do |login_entry| %>
            <tr>
              <td><%= login_entry.customer_full_name %></td>
              <td><%= login_entry.customer_id %></td>
              <td><%= login_entry.channel_partner_product&.product&.name&.titleize %></td>
              <td><%= login_entry.business_name %></td>
              <td><%= login_entry&.executive&.full_name %></td>
              <td><b><%= login_entry.payment ? 'Paid' : 'Un-paid' %></b></td>
              <td><b><i><%= login_entry.approved ? 'Approved' : 'Unapproved' %></i></b></td>
              <td>
                <%= link_to 'Show', "/sales-manager/login-entry/#{login_entry.id}/show" %>
                <% unless current_user.accountant? || login_entry.payment %>
                   |
                  <%= link_to 'Edit', "/sales-manager/login-entry/#{login_entry.id}/edit" %>
                <%end%>
                <%if current_user.admin? %>
                 | <%= link_to 'Delete', "/sales-manager/login-entry/#{login_entry.id}/destroy", data: { confirm: 'Are you sure?' } %>
                <%end%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="row digg_pagination">
      <%= will_paginate @login_entries unless @login_entries.blank? %>
    </div>
  </div>
</section>
