<section>
  <div class="container">
    <div class="row row-heading">
      <div class="col-md-12 heading-container">
        <span class="heading-container">Login Entry Details</span>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <table class="table">
        <tr>
          <th>Customer Full Name:</th>
          <td><%= @login_entry.customer_full_name %></td>
          <th>Bisiness Name:</th>
          <td><%= @login_entry.business_name %></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><%= @login_entry.email %></td>
          <th>Mobile Number:</th>
          <td><%= @login_entry.mobile_number %></td>
        </tr>
        <tr>
          <th>State:</th>
          <td><%= state(@login_entry.state) %></td>
          <th>City:</th>
          <td><%= @login_entry.city %></td>
        </tr>
        <tr>
          <th>Product Name:</th>
          <td><%= @login_entry.channel_partner_product&.product&.name&.titleize %></td>
          <th>Process Date:</th>
          <td><%= show_date(@login_entry.process_date) %></td>
        </tr>
        <tr>
          <th>Customer ID:</th>
          <td><%= @login_entry.customer_id %></td>
          <th>DOB:</th>
          <td><%= show_date(@login_entry.dob) %></td>
        </tr>
        <tr>
          <th>Channel Partner Name / Code:</th>
          <td><%= @login_entry.channel_partner&.full_name %><b> / </b><%= @login_entry.channel_partner&.code %></td>
          <th>Co-ordinator Full Name:</th>
          <td><%= @login_entry.user&.full_name %></td>
        </tr>
        <tr>
          <th>Executive Name</th>
          <td><%= @login_entry.executive&.full_name %></td>
          <th>Executive Code</th>
          <td><%= @login_entry.executive&.code %></td>
        </tr>
        <tr>
          <th>Bank Name</th>
          <td><%= @login_entry.bank&.name %></td>
          <th>Loan Amount</th>
          <td><%= @login_entry.loan_amount %></td>
        </tr>
        <tr>
          <th>Rejected?</th>
          <td><%= @login_entry.rejected ? 'Yes' : 'No' %></td>
          <th>Login Approved?:</th>
          <td><%= @login_entry.approved ? 'Yes' : 'No' %></td>
        </tr>
        <tr>
          <th>Notes</th>
          <td><%= @login_entry.notes %></td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <h3>Reference Contacts</h3>
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Mobile Number</th>
          <th>Profile</th>
        </tr>
        <% @login_entry.reference_contacts.each do |reference_contact| %>
          <tr>
            <td><%= reference_contact.full_name %></td>
            <td><%= reference_contact.mobile_number %></td>
            <td><%= reference_contact.profile %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</section>
