
<section class="personal-loan-section custom-container">
  <%= form_for @credit_card, :url => { :action => "update_card_offer" }, html: {id: "update_card_offer", class: "update_card_offer"} do |f| %>
    </div>
    <div class="container">
      <div class="row heading">
        <div class="col-md-4">
          <div class="form-group">
            <h3>Credit Card Application</h3>
          </div>
        </div>
      </div>
      <div class="row first-row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Employment Type</label>
            <%= f.select(:employment_type, employment_type, class: "form-control") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Full Name
              <a href="" data-toggle="tooltip" data-placement="top" title="As per aadhar card records, to ensure your application gets successfully processed.">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </a>
            </label>
            <%= f.text_field(:full_name, class: "form-control", value: "#{session[:cc_full_name] ? session[:cc_full_name] : f.object.full_name}") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Date Of Birth
              <a href="" data-toggle="tooltip" data-placement="top" title="To ensure you are fiting the partner's criteria.">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </a>
            </label>
            <%= f.date_field(:dob, class: "form-control", max: "#{Time.zone.now - 21.years}") %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Email
              <a href="" data-toggle="tooltip" data-placement="top" title="Share the correct email address to ensure timely communication regarding this application.">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </a>
            </label>
            <%= f.text_field(:email, class: "form-control", value: "#{session[:cc_email] ? session[:cc_email] : f.object.email}") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Do you have an existing credit card
              <a href="" data-toggle="tooltip" data-placement="top" title="Your existing card will help to approve this application.">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </a>
            </label>
            <%= f.select(:existing_card, existing_card, class: "form-control") %>
          </div>
        </div>
        <div class="col-md-4 cr-bank-name <%= 'hide-div' if !f.object.existing_card? %>">
          <div class="form-group">
            <label>Bank Name
              <a href="" data-toggle="tooltip" data-placement="top" title="Your existing credit card bank name.">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </a>
            </label>
            <%= f.select(:bank_name, bank_name, class: "form-control") %>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-custom">Submit</button>
    </div>
  <%end%>
</section>
