<div class="container custom-container">
  <div class="container">
    <div class="row">
      <table class="table loan-table">
        <thead class="thead-light">
          <tr>
            <th>Bank</th>
            <th>Interest Rate</th>
            <th>EMI</th>
            <th>Processing Fee</th>
            <th class="pre-pay-charg">Prepayment Charges</th>
            <th>Loan Approval Chances</th>
            <th>Proceed</th>
          </tr>
        </thead>
        <% @banks.each do |bank| %>
          <tr>
            <td><div class="img-effect" style="margin-bottom: 0;"><%= image_tag url_for(bank.bank_image), width: 200, height: 100 %></div></td>
            <td><b><%= percentage_roi(bank.transfer_personal_loan_info.roi) %><br><span>(Reducing)</span></b></td>
            <td><b><%= number_to_currency(tr_calculate_emi(bank.transfer_personal_loan_info, @transfer_personal_loan), unit: "₹ ") %></b></td>
            <td><b><%= number_to_currency("%.2f" % processing_fee(bank.transfer_personal_loan_info.processing_fee, @transfer_personal_loan.desired_loan_amount, bank), unit: "₹ ") %></b></td>
            <td class="pre-pay-charg"><%= bank.transfer_personal_loan_info.preprocessing_charges.html_safe %></td>
            <td>
              <%= image_tag "meter.png", alt: "meter" %><br>
              <span style="color: #aaa4a4;">Excelent</span>
            </td>
            <td>
              <b>
                <%= form_for @transfer_personal_loan, :url => { :action => "select_bank" }, html: {id:  "transfer_personal_loan_bank", class: "transfer_personal_loan_bank"} do |f| %>
                  <input type="hidden" name="transfer_personal_loan_bank[id]" value="<%= bank.transfer_personal_loan_info.id %>">
                  <button type="submit" class="btn btn-custom">Apply</button>
                <%end%>
              </b>
            </td>
          </tr>
        <%end%>
      </table>
    </div>
  </div>
</div>