<section>
  <div class="container">
    <div class="row row-heading">
      <div class="col-md-12 heading-container">
        <span class="heading-container">Channel Partner Details</span>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <table class="table">
        <tr>
          <td colspan="4"><h4>Channel Partner</h4></td>
        </tr>
        <tr>
          <th>Full Name:</th>
          <td><%= @channel_partner.full_name %></td>
          <th>Code:</th>
          <td><%= @channel_partner.code %></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><%= @channel_partner.email %></td>
          <th>Mobile Number:</th>
          <td><%= @channel_partner.mobile_number %></td>
        </tr>
        <tr>
          <th>Onboarding Date:</th>
          <td><%= show_date(@channel_partner.onbording_date) %></td>
          <th>Firm Name:</th>
          <td><%= @channel_partner.firm_name %></td>
        </tr>
        <tr>
          <th>State:</th>
          <td><%= state(@channel_partner.state) %></td>
          <th>City:</th>
          <td><%= @channel_partner.city %></td>
        </tr>
        <tr>
          <th>Aadhar Number:</th>
          <td><%= @channel_partner.aadhar_number %></td>
          <th>Pan Number:</th>
          <td><%= @channel_partner.pan_number %></td>
        </tr>
        <tr>
          <th>Type</th>
          <td><%= @channel_partner.channel_partner_type&.name %></td>
          <th>Address:</th>
          <td><%= @channel_partner.full_address %></td>
        </tr>
        <tr>
          <td colspan="4"><h4>Bank Details</h4></td>
        </tr>
        <tr>
          <th>Bank Account Number</th>
          <td><%= @channel_partner.account_number %></td>
          <th>IFSC Code</th>
          <td><%= @channel_partner.ifsc_code %></td>
        </tr>
        <tr>
          <th>MICR code</th>
          <td><%= @channel_partner.micr_code %></td>
          <th>Name As Per Bank</th>
          <td><%= @channel_partner.name_as_per_bank %></td>
        </tr>
        <tr>
          <td colspan="4"><h4>Products</h4></td>
        </tr>
        <tr>
          <th colspan="2">Product Name</th>
          <th colspan="2">Product Payout Percentage (%)</th>
        </tr>
        <% @channel_partner.channel_partner_products.each do |product| %>
          <tr>
            <td colspan="2"><%= product&.product&.name %></td>
            <td colspan="2"><%= product.payout_percent %> %</td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</section>