<section class="personal-loan-section custom-container">
  <div class="container trh-container">
    <%= form_for @transfer_home_loan, :url => { :action => @transfer_home_loan.id.nil? ? "create_otp" : "update" }, remote: true, html: { id:  "basic_transfer_home_loan", class: "basic_transfer_home_loan" } do |f| %>
      <div class="container">
        <div class="row heading">
          <div class="col-md-4">
            <div class="form-group">
              <h3>Loan Application</h3>
            </div>
          </div>
        </div>
        <div class="row first-row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Your foreclose loan amount
                <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="For existing loan closer amount."></i>
              </label>
              <%= f.number_field(:foreclose_loan_amount, class: "form-control") %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Your require topup amount?
                <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="For the additional loan amount."></i>
              </label>
              <%= f.select(:is_topup_amount, is_topup_amount, class: "form-control", placeholder: "Rs. 0") %>
            </div>
          </div>
          <div class="col-md-3 desired-loan <%= 'hide-div' if !f.object.is_topup_amount? %>">
            <div class="form-group">
              <label>Your desired loan amount
                <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Please fill in the loan amount you need to fullfil your financial needs."></i>
              </label>
              <%= f.number_field(:desired_loan_amount, class: "form-control") %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Tenure
                <i data-toggle="tooltip" data-placement="top" title="Please fill the duration of the loan amount." class="fa fa-info-circle" aria-hidden="true" class="fa fa-info-circle" aria-hidden="true"></i>
              </label>
              <%= f.select(:tenure, home_loan_tenure, class: "form-control") %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Property City
                <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Which city you are going to purchase property."></i>
              </label>
              <%= f.select(:property_city, only_cities, class: "form-control") %>
            </div>
          </div>        
          <div class="col-md-4">
            <div class="form-group">
              <label>Annual Income
                <i data-toggle="tooltip" data-placement="top" title="Your financial income as per latest ITR." class="fa fa-info-circle" aria-hidden="true"></i>
              </label>
              <%= f.number_field(:annual_income, class: "form-control") %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Mobile Number
                <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="100% privacy guaranteed. We well never share your details."></i>
              </label>
              <%= f.number_field(:mobile_number, class: "form-control", value: "#{session[:thl_mobile_number] ? session[:thl_mobile_number] : f.object.mobile_number}") %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= f.check_box(:terms_and_conditions) %>
            <%= f.label "Terms & Conditions", for: 'transfer_home_loan_terms_and_conditions' %>
          </div>
        </div>
        <button type="submit" class="btn btn-custom">Submit</button>
      </div>
    <%end%>
    <br>
    <%= form_for @transfer_home_loan, :url => { :action => "update_otp_status" }, method: :patch, remote: true, html: {id: "otp_transfer_home_loan", class: "otp_transfer_home_loan hide-div"} do |f| %>
      <div class="container">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="form-group">
              <%= f.number_field(:otp, class: "form-control", value: "", placeholder: "OTP") %>
            </div> 
            <button type="submit" class="btn btn-custom">Submit</button>
            <a href="javascript:void(o)" id="tr-home-loan-resend-otp" style="float: right;">Resend</a>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    <%end%>
  </div>
</section>

