<div class="container custom-container">
  <%= form_for @business_loan, :url => { :action => "updated_address"}, html: { id:  "business_loan_address", class: "business_loan_address" } do |f| %>
    <div class="container">
      <div class="row heading">
        <div class="col-md-4">
          <div class="form-group">
            <h3>Address Details</h3>
          </div>
        </div>
      </div>
      <div class="row first-row">
         <div class="col-md-4">
          <div class="form-group">
            <label>Present Address
              <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Your current residence address."></i>
            </label>
            <%= f.text_area(:address, class: "form-control") %>
          </div>
        </div>
         <div class="col-md-4">
          <div class="form-group">
            <label>City
              <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Your current residence city name."></i>
            </label>
            <%= f.select(:city, only_cities,class: "form-control") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Pincode</label>
            <%= f.number_field(:pincode, class: "form-control") %>
          </div>
        </div>
      </div>
       <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Business Address
              <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Your business address."></i>
            </label>
            <%= f.text_area(:business_address, class: "form-control") %>
          </div>
        </div>
         <div class="col-md-4">
          <div class="form-group">
            <label>Business City</label>
            <%= f.select(:business_city, only_cities,class: "form-control") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Business Pincode</label>
            <%= f.number_field(:business_pincode, class: "form-control") %>
          </div>
        </div>
      </div><br>
      <button type="submit" class="btn btn-custom">Process</button>
    </div>
  <%end%>
</div>