<section class="personal-loan-section custom-container">
  <%= form_for @business_loan, :url => { :action => "update_business_offer"}, html: {id:  "update_business_offer", class: "update_business_offer"} do |f| %>
    <div class="container">
      <div class="row heading">
        <div class="col-md-4">
          <div class="form-group">
            <h3>Loan Application</h3>
          </div>
        </div>
      </div>
      <div class="row first-row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Company Type</label>
            <%= f.select(:company_type, company_type, class: "form-control") %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Nature Of Business</label>
            <%= f.select(:business_nature, business_nature, class: "form-control") %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Your primary bank account is with?
              <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Helps to faster the loan application with bank."></i>
            </label>
            <%= f.select(:bank_name, bank_name, class: "form-control") %>
          </div>
        </div>        
        <div class="col-md-6">
          <div class="form-group">
            <label>Total EMI you pay currently?
              <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Helps to calculate the right loan amount you are eligible for."></i>
            </label>
            <%= f.number_field(:current_emi, class: "form-control") %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Full Name
              <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="As per aadhar card records, to ensure your application gets successfully processed."></i>
            </label>
            <%= f.text_field(:full_name, class: "form-control", value: "#{session[:bl_full_name] ? session[:bl_full_name] : f.object.full_name}") %>
          </div>
        </div>        
        <div class="col-md-6">
          <div class="form-group">
            <label>Date Of birth
              <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="To ensure you are fiting the partner's criteria."></i>
            </label>
            <%= f.date_field(:dob, class: "form-control", max: "#{Time.zone.now - 21.years}", min: "#{(Time.zone.now - 21.years) - 60.years}") %>
          </div>
        </div>
      </div>
      <div class="row">      
        <div class="col-md-6">
          <div class="form-group">
            <label>Email
              <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Share the correct email address to ensure timely communication regarding this application."></i>
            </label>
            <%= f.email_field(:email, class: "form-control", value: "#{session[:bl_email] ? session[:bl_email] : f.object.email}") %>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-custom">Submit</button>
    </div>
  <%end%>
</section>
