
<section class="personal-loan-section custom-container">
  <%= form_for @home_loan, :url => { :action => "update_home_offer"}, html: {id:  "update_home_offer", class: "update_home_offer"} do |f| %>
    <div class="container">
      <div class="row heading">
        <div class="col-md-4">
          <div class="form-group">
            <h3>Loan Application</h3>
          </div>
        </div>
      </div>
      <div class="row first-row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Property Cost</label>
            <%= f.number_field(:property_cost, class: "form-control") %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Employment Type</label>
            <%= f.select(:employment_type, employment_type, class: "form-control") %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Total EMI pay currently
              <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Helps to calculate the right loan amount you are eligible for."></i>
            </label>
            <%= f.number_field(:current_emi, class: "form-control") %>
          </div>
        </div>        
        <div class="col-md-6">
          <div class="form-group">
            <label>Email
              <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Share the correct email address to ensure timely communication regarding this application."></i>
            </label>
            <%= f.email_field(:email, class: "form-control") %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Date Of Birth
              <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="To ensure you are fiting the partner's criteria."></i>
            </label>
            <%= f.date_field(:dob, class: "form-control", min: "#{Time.zone.now - 21.years}", max: Time.zone.now + 39.years) %>
          </div>
        </div>        
        <div class="col-md-6">
        </div>
      </div>
      <button type="submit" class="btn btn-custom">Submit</button>
    </div>
  <%end%>
</section>
