<div class="container custom-container">
  <%= form_for @new_car_loan, :url => { :action => "update_address" }, html: {id:  "new_car_loan_address", class: "new_car_loan_address"} do |f| %>
    <div class="container">
      <div class="row heading">
        <div class="col-md-4">
          <h3>Address Detail</h3>
        </div>
      </div>
      <div class="row first-row"> 
        <div class="col-md-4">
          <div class="form-group">
            <label>Present Address
              <a href="" data-toggle="tooltip" data-placement="top" title="!">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </a>
            </label>
            <%= f.text_area(:address, class: "form-control") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>City
              <a href="" data-toggle="tooltip" data-placement="top" title="!">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </a>
            </label>
            <%= f.select(:city, only_cities, class: "form-control") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Pincode
              <a href="" data-toggle="tooltip" data-placement="top" title="!">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </a>
            </label>
            <%= f.number_field(:pincode, class: "form-control") %>
          </div>
        </div>
      </div>
      <div class="row"> 
        <div class="col-md-4">
          <div class="form-group">
            <label>Office/Business Address
              <a href="" data-toggle="tooltip" data-placement="top" title="!">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </a>
            </label>
            <%= f.text_area(:office_address, class: "form-control") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Office/Business City
              <a href="" data-toggle="tooltip" data-placement="top" title="!">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </a>
            </label>
            <%= f.select(:office_city, only_cities, class: "form-control") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Office/Business Pincode
              <a href="" data-toggle="tooltip" data-placement="top" title="!">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </a>
            </label>
            <%= f.number_field(:office_pincode, class: "form-control") %>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-custom">Submit</button>
    </div>
  <%end%>
</div>