<section id="secondary-banner" class="dynamic-image-6">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>New Car Loan</h2>
                <h4>Apply for new car loan</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>FAQ</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="business-loan-section">
  <%= form_for @new_car_loan, :url => { :action => "update_address"}, html: {id:  "new_car_loan", class: "new_car_loan"} do |f| %>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <span>Residential Address Line1 <span>*</span></span>
            <%= f.text_area(:res_address_line1, class: "form-control") %>
            <p class="error"><%= show_errors(@new_car_loan, :res_address_line1) %></p>
          </div>
          <div class="form-group">
            <span>Residential Address Line2 <span>*</span></span>
            <%= f.text_area(:res_address_line2, class: "form-control") %>
            <p class="error"><%= show_errors(@new_car_loan, :res_address_line2) %></p>
          </div>
          <div class="form-group">
            <span>Residential State <span>*</span></span>
            <%= f.select(:res_state, states, class: "form-control") %>
            <p class="error"><%= show_errors(@new_car_loan, :res_state) %></p>
          </div>
          <div class="form-group">
            <span>Residential City<span>*</span></span>
            <%= f.select(:res_city, cities, class: "form-control") %>
            <p class="error"><%= show_errors(@new_car_loan, :res_city) %></p>
          </div>
          <div class="form-group">
            <span>Residential Pincode <span>*</span></span>
            <%= f.text_field(:res_pincode, class: "form-control") %>
            <p class="error"><%= show_errors(@new_car_loan, :res_pincode) %></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <span>Office Address Line1 <span>*</span></span>
            <%= f.text_area(:office_address_line1, class: "form-control") %>
            <p class="error"><%= show_errors(@new_car_loan, :office_address_line1) %></p>
          </div>
          <div class="form-group">
            <span>Office Address Line2 <span>*</span></span>
            <%= f.text_area(:office_address_line2, class: "form-control") %>
            <p class="error"><%= show_errors(@new_car_loan, :office_address_line2) %></p>
          </div>
          <div class="form-group">
            <span>Office State <span>*</span></span>
            <%= f.select(:office_state, states, class: "form-control") %>
            <p class="error"><%= show_errors(@new_car_loan, :office_state) %></p>
          </div>
          <div class="form-group">
            <span>Office City<span>*</span></span>
            <%= f.select(:office_city, cities, class: "form-control") %>
            <p class="error"><%= show_errors(@new_car_loan, :office_city) %></p>
          </div>
          <div class="form-group">
            <span>Office Pincode <span>*</span></span>
            <%= f.text_field(:office_pincode, class: "form-control") %>
            <p class="error"><%= show_errors(@new_car_loan, :office_pincode) %></p>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </div>
  <%end%>
</section>