<section class="business-loan-section custom-container">
  <%= form_for @new_car_loan, :url => { :action => @new_car_loan.id.nil? ? "create_otp" : "update"}, html: {id:  "basic_new_car_loan", class: "basic_new_car_loan"} do |f| %>
    <div class="container">
      <div class="row heading">
        <div class="col-md-4">
          <div class="form-group">
            <h3>Loan Application</h3>
          </div>
        </div>
      </div>
      <div class="row first-row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Your desired loan amount</label>
            <%= f.number_field(:loan_amount, class: "form-control") %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Tenure</label>
            <%= f.select(:tenure, tenure, class: "form-control") %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Car Manufacturer</label>
            <%= f.select(:car_manufacturer, car_manufacturer, class: "form-control") %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Car Model</label>
            <%= f.select(:car_model, car_model(f), class: "form-control") %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Employment Type</label>
            <%= f.select(:employment_type, employment_type, class: "form-control") %>
          </div>
        </div>        
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= f.check_box(:terms_and_conditions) %>
          <%= f.label "Terms & Conditions", for: 'personal_loan_terms_and_conditions' %>
        </div>
      </div>
      <button type="submit" class="btn btn-custom">Submit</button>
    </div>
  <%end%>
</section>
