<p>Dear Admin,</p>
<p>Someone is tried to reach us! Here is the details for instant loan/ credit card.</p>
<p>Full Name: <%= @application.full_name %></p>
<p>Mobile Number: <%= @application.mobile_number %></p>
<p>Email: <%= @application.email %></p>
<p>Product Name: <%= @product %></p>
<p>Loan/Caredit Card Purpose: <%= @loan_purpose %></p>
<br><br>
<p>Thanks & Regards</p>
<p>Team GrowwCapital</p>