<p>Dear Admin,</p>
<p>Someone is tried to reach us! Here is the details for Refer & Earn.</p>
<p>Full Name: <%= @refer_earn.full_name %></p>
<p>Mobile Number: <%= @refer_earn.mobile_number %></p>
<p>Product Name: <%= @refer_earn.product_name.humanize %></p>
<p>Full Name: <%= @refer_earn.referer_full_name %></p>
<p>Mobile Number: <%= @refer_earn.referer_mobile_number %></p>
<p>Reference Number: <%= @refer_earn.reference_number %></p>
<br><br>
<p>Thanks & Regards</p>
<p>Team Growwcapital</p>