<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<section id="franchise-banner">
</section>
<section class="personal-loan-section">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-md-12 about-us">
        <h2 class="text-center card-title">Unlock Your Business Potential By Becoming Groww Capital’s Channel Partners</h2>
        <p>We’re a one stop finance company serving individuals, i.e. salaried as well as small and mid-size businesses including start-ups  offering opportunities for Channel partners.</p>
        <p><a href="/">GrowwCapital</a> is licensed representatives of many leading banks and financial institutions for whom we’ve been consistently delivering results. We deal in marketing and selling products like loans, credit cards etc. In order to grow, we have developed diverse sales channels to penetrate into a wider set of audience.</p>
        <p class="pl-about">Grow With Us</p>
        <p>If you:</p>
        <p>Have been selling and marketing financing products at an individual capacity.</p>
        <p>Have built your own set of loyal clientele that include individuals and small to mid-sized businesses</p>
        <p>You help your clients procure various kinds of loans, credit cards</p>
        <p>We invite you to associate with us as Channel Partners to carry out your business operations in a more structured, trusted, and reliable manner. We offer our Channel Partners distinct, measurable benefits and conveniences that will fuel your growth manifold.</p>
        <p class="pl-about">We’re a Structured, Open-minded Professionals</p>
        <p>By becoming our channel partners you associate with an experienced finance company that is ready to invest in your success. We offer you with fast and easy access to information that will help you sell and market the products better and help you earn trust of your clients faster.</p>
        <p class="pl-about">We Will Support You in Your Growth Journey</p>
        <p>Our specialist team will help you to set up the partnership. After you become Groww Capital Channel Partner our in-house will be focused on your success and will offer all the help you require.</p>
        <p>We will help you set up office and working model. Provide you with necessary software. We will give you code of over 60 banks. Support you to work across India. Provide you lead to convert business. Will always stand by you and support you in your growth.</p>
        <p class="pl-about">Transparent Professional Business Terms</p>
        <p>Our partnership terms will be transparent, mutually beneficial and professional. Our dedicated financing specialist will be available during all working days and within working hours (and beyond) to answer questions and help the business thrive.</p>
        <p>Growing together is the surest and the best way to grow!</p>
        <p>To know more about how to become our channel partners and other information please call us on <a href="tel:+919112345687">+91-91123-45687</a>. You can also leave a message via email for us to revert at the earliest.</p>
        <p>
          <button id="apply-francise" class="btn btn-custom" data-toggle= "modal" data-target= "#channel_partner_payment-modal">Apply for Franchise</button>

          <!-- Application Modal -->
          <div class="modal fade" id="channel_partner_payment-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Apply For Franchise</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= form_for @channel_partner_payment, :url => { controller: 'payment', :action => 'friancise_application' }, remote: true, html: { id:  "channel_partner_application", class: "channel_partner_application" } do |f| %>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>First Name</label>
                          <%= f.text_field(:first_name, class: "form-control") %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Last Name</label>
                          <%= f.text_field(:last_name, class: "form-control") %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Email</label>
                          <%= f.text_field(:email, class: "form-control") %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Mobile Number</label>
                          <%= f.number_field(:mobile_number, class: "form-control") %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <button type="submit" name="" class="btn-custom btn-block">submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%end%>
                </div>
              </div>
            </div>
          </div>

          <!-- Payment Modal -->
          <% if @friancise_application %>
            <div class="modal fade" id="friancise_application-modal"
              tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true"
              data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Proceed with payment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= form_for @friancise_application, :url => { controller: 'payment', :action => 'create_channel_partner_order' }, method: :put, remote: true, html: { id:  "create_channel_partner_order", class: "create_channel_partner_order" } do |f| %>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Amount(Rs.)</label>
                            <input type="hidden" name="franchise[id]" value="<%= @friancise_application.id %>">
                            <input type="number" name="franchise[amount]" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <button type="submit" name="" class="btn-custom btn-block">submit</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <%end%>
                  </div>
                </div>
              </div>
              <script type="text/javascript">
                var isPaymentAllowed = true;
              </script>
            <% end %>
          </div>
        </p>
      </div>
    </div>
  </div>
</section>