<!-- <div class="clearfix"></div> -->
<script>
  jQuery(document).ready(function() {
    $('.cards').owlCarousel({
      autoplay:false,
      margin:10,
      nav:true,
      responsive:{
        0:{
          items:1
        },
        600:{
          items:3
        },
        1000:{
          items:5
        }
      }
    });

    $('.partners').owlCarousel({
      autoplayTimeout:2000,
      loop:true,
      margin:10,
      items: 6,
      nav:true,
      autoplay:true,
      autoplayTimeout:1000,
      autoplayHoverPause:true,
      responsive:{
        0:{
          items:1
        },
        600:{
          items:3
        },
        1200:{
          items:9
        },
        1000:{
          items: 8
        }
      }
    });

    $('.loans').owlCarousel({
      autoplayTimeout:2000,
      loop:true,
      margin:10,
      nav:true,
      autoplay:true,
      autoplayTimeout:1000,
      autoplayHoverPause:true,
      responsive:{
        0:{
          items:1
        },
        600:{
          items:3
        },
        1000:{
          items:5
        }
      }
    });
    $("#carosel-home-desk, #carosel-home-mob").owlCarousel({
        loop:true,
        margin:10,
        items: 6,
        nav:true,
        autoplay:true,
        autoplayTimeout:5000,
        autoplayHoverPause:true,
        navigation : true, // Show next and prev buttons
        slideSpeed : 5000,
        paginationSpeed : 400,
        singleItem:true,
        items : 1, 
        // itemsDesktop : false,
        // itemsDesktopSmall : false,
        // itemsTablet: false,
        // itemsMobile : false
    });
  });
</script>
<section class="banner-wrap">
  <div id="carosel-home-desk" class="owl-carousel">
    <div class="carosel-imgs img1"><%= image_tag "carosel/desktop/credit-card-banner.png", alt: "" %></div>
    <div class="carosel-imgs img2"><%= image_tag "carosel/desktop/home-loan-banner.svg", alt: "" %></div>
    <div class="carosel-imgs img3"><%= image_tag "carosel/desktop/personal-loan-banner.png", alt: "" %></div>
  </div>
  <div id="carosel-home-mob" class="owl-carousel">
    <div class="carosel-imgs img1"><%= image_tag "carosel/mobile/credit-card-banner.png", alt: "" %></div>
    <div class="carosel-imgs img2"><%= image_tag "carosel/mobile/home-loan-banner.svg", alt: "" %></div>
    <div class="carosel-imgs img3"><%= image_tag "carosel/mobile/personal-loan-banner.png", alt: "" %></div>
  </div>
</section>

<section class="content">
  <div class="container">
    <div class="inner-page homepage margin-bottom-none">
      <div class="row">
        <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <span class="ind-section">Our Products</span>
        </h2>
      </div>
      <section class="car-block-wrap padding-loans">
        <div class="row">
          <div class="col-3 col-md-4 col-lg-3 col-xl-2 ord-10 col-md-6-prd">
            <%= link_to credit_card_path('step1'), method: :get do %>
              <div class="pb-product active">
                <h1 class="product-name">Credit Card</h1>
                <p class="product-desc">Check, track &amp; build your credit score for best loan &amp; card offers</p>
                <div class="product-icon">
                  <%= image_tag "icons/cc-icon.svg", style: "width: 35%; float: right;" %>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-3 col-md-4 col-lg-3 col-xl-2 ord-10 col-md-6-prd">
            <%= link_to personal_loan_path('step1'), method: :get do %>
              <div class="pb-product active">
                <h1 class="product-name">Personal Loan</h1>
                <p class="product-desc">Check, track &amp; build your credit score for best loan &amp; card offers</p>
                <div class="product-icon">
                  <%= image_tag "icons/personal-loan-icon.svg", style: "width: 35%; float: right;" %>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-3 col-md-4 col-lg-3 col-xl-2 ord-10 col-md-6-prd">
            <%= link_to transfer_personal_loan_path('step1'), method: :get do %>
              <div class="pb-product active">
                <h1 class="product-name">Transfer Personal Loan</h1>
                <p class="product-desc">Check, track &amp; build your credit scors</p>
                <div class="product-icon">
                  <%= image_tag "icons/transfer-personal-loan-icon.svg", style: "width: 35%; float: right;" %>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-3 col-md-4 col-lg-3 col-xl-2 ord-10 col-md-6-prd">
            <%= link_to business_loan_path('step1'), method: :get do %>
              <div class="pb-product active">
                <h1 class="product-name">Business Loan</h1>
                <p class="product-desc">Check, track &amp; build your credit score for best loan &amp; card offers</p>
                <div class="product-icon">
                  <%= image_tag "icons/business-loan-icon.svg", style: "width: 35%; float: right;" %>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-3 col-md-4 col-lg-3 col-xl-2 ord-10 col-md-6-prd">
            <%= link_to professional_loan_path('step1'), method: :get do %>
              <div class="pb-product active">
                <h1 class="product-name">Professional Loan</h1>
                <p class="product-desc">Check, track &amp; build your credit score</p>
                <div class="product-icon">
                  <%= image_tag "icons/professional-loan-icon.svg", style: "width: 26%;
                  float: right;
                  top: 15px;
                  position: relative;" %>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-3 col-md-4 col-lg-3 col-xl-2 ord-10 col-md-6-prd">
            <%= link_to home_loan_path('step1'), method: :get do %>
              <div class="pb-product active">
                <h1 class="product-name">Home Loan</h1>
                <p class="product-desc">Check, track &amp; build your credit score for best loan &amp; card offers</p>
                <div class="product-icon">
                  <%= image_tag "icons/home-loan-icon.svg", style: "width: 35%;
                    float: right;
                    bottom: 15px;
                    position: relative;" %>
                </div>
              </div>
            <%end%>
          </div>
        </div>
        <div class="row">
          <div class="col-3 col-md-4 col-lg-3 col-xl-2 ord-10 col-md-6-prd">
            <%= link_to transfer_home_loan_path('step1'), method: :get do %>
              <div class="pb-product active">
                <h1 class="product-name">Transfer Home Loan</h1>
                <p class="product-desc">Check, track &amp; build your credit score </p>
                <div class="product-icon">
                  <%= image_tag "icons/tr-home-loan-icon.svg", style: "width: 35%; float: right;" %>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-3 col-md-4 col-lg-3 col-xl-2 ord-10 col-md-6-prd">
            <%= link_to loan_against_property_path('step1'), method: :get do %>
              <div class="pb-product active">
                <h1 class="product-name">Loan Against Property</h1>
                <p class="product-desc">Check, track &amp; build your credit score </p>
                <div class="product-icon">
                  <%= image_tag "icons/loan-against-property-icon.svg", style: "width: 35%;
                    float: right;
                    bottom: 15px;
                    position: relative;" %>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-3 col-md-4 col-lg-3 col-xl-2 ord-10 col-md-6-prd">
            <%= link_to new_car_loan_path('step1'), method: :get do %>
              <div class="pb-product active">
                <h1 class="product-name">New Car Loan</h1>
                <p class="product-desc">Check, track &amp; build your credit score for best loan &amp; card offers</p>
                <div class="product-icon">
                  <%= image_tag "icons/new-car-loan-icon.svg", style: "width: 35%; float: right;" %>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-3 col-md-4 col-lg-3 col-xl-2 ord-10 col-md-6-prd">
            <%= link_to used_car_loan_path('step1'), method: :get do %>
              <div class="pb-product active">
                <h1 class="product-name">Used Car Loan</h1>
                <p class="product-desc">Check, track &amp; build your credit score for best loan &amp; card offers</p>
                <div class="product-icon">
                  <%= image_tag "icons/used-car-loan-icon.svg", style: "width: 35%; float: right;" %>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-3 col-md-4 col-lg-3 col-xl-2 ord-10 col-md-6-prd">
            <%= link_to "/", method: :get do %>
              <div class="pb-product active">
                <h1 class="product-name">Gold Loan</h1>
                <p class="product-desc">Check, tcredit score for best loan &amp; card offers comming soon...</p>
                <div class="product-icon">
                  <%= image_tag "icons/gold-loan-icon.svg", style: "width: 35%; float: right;" %>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-3 col-md-4 col-lg-3 col-xl-2 ord-10 col-md-6-prd">
            <%= link_to "/", method: :get do %>
              <div class="pb-product active">
                <h1 class="product-name">Insurance</h1>
                <div class="product-icon">
                <p class="product-desc">Check, track &amp; build your credit score for best loan &amp; card comming soon...</p>
                  <%= image_tag "icons/insurance-icon.svg", style: "width: 28%; float: right;" %>
                </div>
              </div>
            <%end%>
          </div>
        </div>
      </section>
      <div class="homeStrip">
        <div class="container">
          <p>It has been brought to our notice that fraudsters are using growwcapital’s identity to send erroneous communication to dupe people.<br>
              In case you get such communication<span>... <a class="view-more-btn" href="javascript:void(0);">View More</a></span></p>
          <div class="do-dont">
            <div>
              <ul>
                <li><i class="fa fa-times-circle"></i><p>Don’t click on any link</p></li>
                <li><i class="fa fa-times-circle"></i><p>Don’t share any information, especially sensitive data like account number, OTP etc.</p></li>
              </ul>
            </div>
            <div>
              <ul>
                <li><i class="fa fa-check-circle"></i><p>Delete the communication immediately</p></li>
                <li><i class="fa fa-check-circle"></i><p>Inform us at <a href="mailto:support@growwcapital.com">support@growwcapital.com</a> or 8806 644 344</p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <section class="pb-feature-section">
        <div class="container">
          <div class="row" id="contentAboutHomes">
            <div class="col-md-5">
                <div class="pb-feature">
                  <span class="top-line"></span>
                  <h3>Why Choose GrowwCapital?</h3>
                  <a href="/about_us" data-ga-label="contentAboutPaisabazaar" class="read-more-btn">Read More</a>
                </div>
            </div>
            <div class="col-md-7">
              <div class="row">
                <div class="col-sm-6">
                  <div class="pb-feature">
                      <img src="https://www.paisabazaar.com//PBHP/assets/images/credible.svg" data-src="PBHP/assets/images/credible.svg" alt="credible">
                      <h3>Wide Choice</h3>
                      <p>We work with 130+ partners, including India’s largest banks, NBFCs and Fintechs, to offer you over 500 financial products</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="pb-feature">
                      <img src="https://www.paisabazaar.com//PBHP/assets/images/trustworthy.svg" data-src="PBHP/assets/images/trustworthy.svg" alt="trustworthy">
                      <h3>Highly Trusted</h3>
                      <p>Since our inception in 2014, we have earned the trust and goodwill of over 22 million happy customers</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="pb-feature">
                      <img src="https://www.paisabazaar.com//PBHP/assets/images/secure.svg" data-src="PBHP/assets/images/secure.svg" alt="secure">
                      <h3>Safe &amp; Secure</h3>
                      <p>Your data is completely safe with us. We are ISO(27001: 2013) certified &amp; have built industry-best controls to keep your information secure.</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="pb-feature">
                      <img src="https://www.paisabazaar.com//PBHP/assets/images/helpful.svg" data-src="PBHP/assets/images/helpful.svg" alt="helpful">
                      <h3>Customer First</h3>
                      <p>We have a dedicated and highly trained team of experts who work hard every day to help you take the best financial decisions</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <div class="row">
        <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <span class="ind-section">We Serve In Cities</span>
        </h2>
      </div>

      <section class="pb-feature-section pb-feature-section-serve">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <div class="row row1">
                <div class="col-md-3 col-sm-4 col-lg-2 col-xl-2 ord-10 col-md-prd">
                  <a title="Used cars in  Ahmedabad" href="javascript:void(0)">
                    <span class="iconHolder">
                      <%= image_tag "cities/nagpur.svg", "data-lazy": "true", class: "imageTransition active", alt: "Nagpur" %>
                    </span>
                    <span class="pop-city">Nagpur</span>
                  </a>
                </div>
                <div class="col-md-3 col-sm-4 col-lg-2 col-xl-2 ord-10 col-md-prd">
                  <a title="Used cars in  Ahmedabad" href="javascript:void(0)">
                    <span class="iconHolder">
                      <%= image_tag "cities/mumbai.svg", "data-lazy": "true", class: "imageTransition active", alt: "Nagpur" %>
                    </span>
                    <span class="pop-city">Mumbai</span>
                  </a>
                </div>
                <div class="col-md-3 col-sm-4 col-lg-2 col-xl-2 ord-10 col-md-prd">
                  <a title="Used cars in  Ahmedabad" href="javascript:void(0)">
                    <span class="iconHolder">
                      <%= image_tag "cities/indoor.svg", "data-lazy": "true", class: "imageTransition active", alt: "Nagpur" %>
                    </span>
                    <span class="pop-city">Indoor</span>
                  </a>
                </div>
                <div class="col-md-3 col-sm-4 col-lg-2 col-xl-2 ord-10 col-md-prd">
                  <a title="Used cars in  Ahmedabad" href="javascript:void(0)">
                    <span class="iconHolder">
                      <%= image_tag "cities/kolkata.svg", "data-lazy": "true", class: "imageTransition active", alt: "Nagpur" %>
                    </span>
                    <span class="pop-city">Kolkata</span>
                  </a>
                </div>
                <div class="col-md-3 col-sm-4 col-lg-2 col-xl-2 ord-10 col-md-prd">
                  <a title="Used cars in  Ahmedabad" href="javascript:void(0)">
                    <span class="iconHolder">
                      <%= image_tag "cities/hydrabad.svg", "data-lazy": "true", class: "imageTransition active", alt: "Nagpur" %>
                    </span>
                    <span class="pop-city">Hydrabad</span>
                  </a>
                </div>
                <div class="col-md-3 col-sm-4 col-lg-2 col-xl-2 ord-10 col-md-prd">
                  <a title="Used cars in  Ahmedabad" href="javascript:void(0)">
                    <span class="iconHolder">
                      <%= image_tag "cities/pune.svg", "data-lazy": "true", class: "imageTransition active", alt: "Nagpur" %>
                    </span>
                    <span class="pop-city">Pune</span>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 col-sm-4 col-lg-2 col-xl-2 ord-10 col-md-prd">
                  <a title="Used cars in  Ahmedabad" href="javascript:void(0)">
                    <span class="iconHolder">
                      <%= image_tag "cities/ahmdabad.svg", "data-lazy": "true", class: "imageTransition active", alt: "Nagpur" %>
                    </span>
                    <span class="pop-city">Ahmedabad</span>
                  </a>
                </div>
                <div class="col-md-3 col-sm-4 col-lg-2 col-xl-2 ord-10 col-md-prd">
                  <a title="Used cars in  Ahmedabad" href="javascript:void(0)">
                    <span class="iconHolder">
                      <%= image_tag "cities/banglore.svg", "data-lazy": "true", class: "imageTransition active", alt: "Nagpur" %>
                    </span>
                    <span class="pop-city">Banglore</span>
                  </a>
                </div>
                <div class="col-md-3 col-sm-4 col-lg-2 col-xl-2 ord-10 col-md-prd">
                  <a title="Used cars in  Ahmedabad" href="javascript:void(0)">
                    <span class="iconHolder">
                      <%= image_tag "cities/chennai.svg", "data-lazy": "true", class: "imageTransition active", alt: "Nagpur" %>
                    </span>
                    <span class="pop-city">Chennai</span>
                  </a>
                </div>
                <div class="col-md-3 col-sm-4 col-lg-2 col-xl-2 ord-10 col-md-prd">
                  <a title="Used cars in  Ahmedabad" href="javascript:void(0)">
                    <span class="iconHolder">
                      <%= image_tag "cities/delhi.svg", "data-lazy": "true", class: "imageTransition active", alt: "Nagpur" %>
                    </span>
                    <span class="pop-city">Delhi</span>
                  </a>
                </div>
                <div class="col-md-3 col-sm-4 col-lg-2 col-xl-2 ord-10 col-md-prd">
                  <a title="Used cars in  Ahmedabad" href="javascript:void(0)">
                    <span class="iconHolder">
                      <%= image_tag "cities/nashik.svg", "data-lazy": "true", class: "imageTransition active", alt: "Nagpur" %>
                    </span>
                    <span class="pop-city">Nashik</span>
                  </a>
                </div>
                <div class="col-md-3 col-sm-4 col-lg-2 col-xl-2 ord-10 col-md-prd">
                  <a title="Used cars in  Ahmedabad" href="javascript:void(0)">
                    <span class="iconHolder">
                      <%= image_tag "cities/raipur.svg", "data-lazy": "true", class: "imageTransition active", alt: "Nagpur" %>
                    </span>
                    <span class="pop-city">Raipur</span>
                  </a>
                </div>
              </div>              
            </div>
            <div class="col-md-3">
              <div class="chk-city">
                <h4 class="text-center">Check your city</h4>
                <div>
                  <%= select_tag "check_city", options_for_select(only_cities, "") %>
                </div>                
              </div>
            </div>
          </div>
        </div>
      </section>


      <div class="row">
        <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <span class="ind-section">Our Partners</span>
        </h2>
      </div>      
    </div>
  </div>
  <div class="" style="margin: 0px 40px 0px 40px">
    <section class="padding-loans">
      <div class="owl-carousel partners">
        <div class="scroll_effect part-img-effect bounceInUp">
          <%= image_tag "hdfc-bank.png" %>
        </div>
        <div class="scroll_effect part-img-effect bounceInUp">
          <%= image_tag "idfc-bank.gif"%>
        </div>
        <div class="scroll_effect part-img-effect bounceInUp">
          <%= image_tag "yes-bank.png" %>
        </div>
        <div class="scroll_effect part-img-effect bounceInUp">
          <%= image_tag "tata-capital.webp"%>
        </div>
        <div class="scroll_effect part-img-effect bounceInUp">
          <%= image_tag "icici-bank.png"%>
        </div>
        <div class="scroll_effect part-img-effect bounceInUp">
          <%= image_tag "axis-bank.png" %>
        </div>
        <div class="scroll_effect part-img-effect bounceInUp">
          <%= image_tag "fllutoran.png" %>
        </div>
        <div class="scroll_effect part-img-effect bounceInUp">
          <%= image_tag "au-bank.webp" %>
        </div>
        <div class="scroll_effect part-img-effect bounceInUp">
          <%= image_tag "hero-fincorp.png" %>
        </div>
      </div>
    </section>
  </div>
</section>