<div class="clearfix"></div>
<section class="banner-wrap">
  <div class="banner">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="header-description">
          <h4>LOANS | CARDS | FIXED DEPOSITS | ONLINE DEMAT AND</h4>
          <h4>TRADING | MUTUAL FUNDS | INSURANCE | POCKET</h4>
          <h4> INSURANCE & SUBSCRIPTIONS</h4>
          <p>All in one place. Think it. Done</p>
          <div class="row">
            <div class="col-md-12">
              <form action="/action_page.php" style="display: inline-flex;">
                <input type="text" placeholder="Search.." class="search-loan" name="search">
                <button type="submit" class="btn-search-loan"><i class="fa fa-search"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <iframe class="header-video"  src="https://www.youtube.com/embed/WJTd1iSch94">
        </iframe>        
      </div>
    </div>
    <script>
      var revapi;
      jQuery(document).ready(function() {
          revapi = jQuery("#rev_slider").revolution({
              sliderType:"standard",
              sliderLayout:"fullwidth",
              delay:9000,
              navigation: {
                  arrows:{enable:true}
              },
              gridwidth:1170,
              gridheight:645
          });

      $('.loans, .cards, .partners').owlCarousel({
          loop:true,
          margin:10,
          nav:true,
          responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:5
            }
          }
      })


      }); /*ready*/
    </script>
    <!-- END REVOLUTION SLIDER -->
    <!-- Content End -->
  </div>
</section>

<section class="content">
  <div class="container">
    <div class="inner-page homepage margin-bottom-none">
      <div class="row">
        <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <span class="ind-section">Loans</span>
        </h2>
      </div>
      <section class="row car-block-wrap padding-loans">
        <div class="owl-carousel loans">
          <div class="col-sm-12 col-xs-12 margin-bottom-none">
            <div class="flip margin-bottom-30">
              <div class="card scroll_effect bounceInLeft">
                <div class="div-loan">
                  <%= link_to personal_loan_path('step1'), method: :get, class: "img-text" do %>
                    <i class="fa fa-6x fa-user"></i>
                    <span>Personal Loan</span>
                  <% end %>
                  <div class="loan-img1"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12 margin-bottom-none">
            <div class="flip margin-bottom-30">
              <div class="card scroll_effect bounceInLeft">
                <div class="div-loan">
                  <%= link_to business_loan_path('step1'), method: :get, class: "img-text" do %>
                    <i class="fa fa-6x fa-briefcase"></i>
                    <span>Business Loan</span>
                  <% end %>
                  <div class="loan-img2"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12 margin-bottom-none">
            <div class="flip margin-bottom-30">
              <div class="card scroll_effect bounceInRight">
                <div class="div-loan">
                  <%= link_to professional_loan_path('step1'), method: :get, class: "img-text" do %>
                    <i class="fa fa-6x fa-user-md"></i>
                    <span>Professional Loan</span>
                  <% end %>
                  <div class="loan-img5"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12 margin-bottom-none">
            <div class="flip margin-bottom-30">
              <div class="card scroll_effect bounceInRight">
                <div class="div-loan">
                  <%= link_to new_car_loan_path('step1'), method: :get, class: "img-text" do %>
                    <i class="fa fa-6x fa-car"></i>
                    <span>New Car Loan</span>
                  <% end %>
                  <div class="loan-img5"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12 margin-bottom-none">
            <div class="flip margin-bottom-30">
              <div class="card scroll_effect bounceInRight">
                <div class="div-loan">
                  <%= link_to used_car_loan_path('step1'), method: :get, class: "img-text" do %>
                    <i class="fa fa-6x fa-car"></i>
                    <span>Used Car Loan</span>
                  <% end %>
                  <div class="loan-img5"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12 margin-bottom-none">
            <div class="flip margin-bottom-30">
              <div class="card">
                <div class="div-loan">
                  <%= link_to home_loan_path('step1'), method: :get, class: "img-text" do %>
                    <i class="fa fa-6x fa-home"></i>
                    <span>Home Loan</span>
                  <% end %>
                  <div class="loan-img3"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12 margin-bottom-none">
            <div class="flip margin-bottom-30">
              <div class="card scroll_effect bounceInRight">
                <div class="div-loan">
                  <%= link_to loan_against_property_path('step1'), method: :get, class: "img-text" do %>
                    <i class="fa fa-6x fa-building-o"></i>
                    <span>Loan Against Property</span>
                  <% end %>
                  <div class="loan-img4"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="row">
        <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <span class="ind-section">Cards</span>
        </h2>
      </div>
      <section class="row car-block-wrap padding-loans">
        <div class="owl-carousel cards">
          <div class="col-sm-12 col-xs-12 margin-bottom-none">
            <div class="scroll_effect img-effect bounceInUp">
              <%= image_tag "hdfc-bank.png" %>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12 margin-bottom-none">
            <div class="scroll_effect img-effect bounceInUp">
              <%= image_tag "IndusInd-bank.png" %>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12 margin-bottom-none">
            <div class="scroll_effect img-effect bounceInUp">
              <%= image_tag "sbi-bank.png" %>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12 margin-bottom-none">
            <div class="scroll_effect img-effect bounceInUp">
              <%= image_tag "rbl-bank.png" %>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12 margin-bottom-none">
            <div class="scroll_effect img-effect bounceInUp">
              <%= image_tag "yes-bank.png" %>
            </div>
          </div>
        </div>
      </section>
      <div class="row">
        <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <span class="ind-section">Loans & Card Benefit Description</span>
        </h2>
      </div>
      <section class="welcome-wrap padding-top-30 sm-horizontal-15">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-none">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 welcome padding-left-none padding-bottom-40 scroll_effect fadeInUp">
              <h4 class="margin-bottom-25 margin-top-none">About <strong>Loans</strong> </h4>
              <div class="search-form margin-top-20 padding-vertical-20">
                <iframe class="header-video"  src="https://www.youtube.com/embed/WJTd1iSch94"></iframe>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 welcome padding-right-none padding-bottom-40 scroll_effect fadeInUp" data-wow-delay='.2s'>
              <h4 class="margin-bottom-25 margin-top-none">About <strong>Cards</strong></h4>
              <div class="search-form margin-top-20 padding-vertical-20">
                <iframe class="header-video"  src="https://www.youtube.com/embed/WJTd1iSch94"></iframe>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="row">
        <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <span class="ind-section">Our Partners</span>
        </h2>
      </div>
      <section class="padding-loans">
        <div class="row owl-carousel partners">
          <div class="scroll_effect img-effect bounceInUp">
            <%= image_tag "hdfc-bank.png" %>
          </div>
          <div class="scroll_effect img-effect bounceInUp">
            <%= image_tag "idfc-bank.gif"%>
          </div>
          <div class="scroll_effect img-effect bounceInUp">
            <%= image_tag "yes-bank.png" %>
          </div>
          <div class="scroll_effect img-effect bounceInUp">
            <%= image_tag "tata-capital.webp"%>
          </div>
          <div class="scroll_effect img-effect bounceInUp">
            <%= image_tag "icici-bank.png"%>
          </div>
          <div class="scroll_effect img-effect bounceInUp">
            <%= image_tag "axis-bank.png" %>
          </div>
          <div class="scroll_effect img-effect bounceInUp" style="background-color: #e88244;">
            <%= image_tag "aditya-birla.png" %>
          </div>
          <div class="scroll_effect img-effect bounceInUp">
            <%= image_tag "dbs_bank.svg"%>
          </div>
          <div class="scroll_effect img-effect bounceInUp" style="background-color: #000000;">
            <%= image_tag "bajaj-logo.png" %>
          </div>
          <div class="scroll_effect img-effect bounceInUp">
            <%= image_tag "fllutoran.png" %>
          </div>
          <div class="scroll_effect img-effect bounceInUp">
            <%= image_tag "au-bank.webp" %>
          </div>
          <div class="scroll_effect img-effect bounceInUp">
            <%= image_tag "hero.png" %>
          </div>
        </div>
      </section>
      <section class="testimonital">
        <div class="row">
          <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
            <div class="card">
              <div class="card-body crd-parts">
                <div>
                  <%= image_tag "associalted-partners.jpg" %>
                </div>
                <h3>50 + Partners</h3>
                <h4>&</h4>
                <h3>Over 100 Products</h3>
                <h4>
                  Disburse Loans worth 30 crore on an annulized basis
                </h4>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
            <div class="card">
              <div class="card-body crd-sat-cust">
                <div>
                  <%= image_tag "customers.jpeg" %>
                </div>
                <h3>Satisfied Custmers</h3>
                <h2>1000</h2>
                <h4>Secured Systems</h4>
                <h4>To Keep your data safe</h4>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>