<!-- <div class="clearfix"></div> -->
<script>
  jQuery(document).ready(function() {
    $('.cards').owlCarousel({
      autoplay:false,
      margin:10,
      nav:true,
      responsive:{
        0:{
          items:1
        },
        600:{
          items:3
        },
        1000:{
          items:5
        }
      }
    });

    $('.partners').owlCarousel({
      autoplayTimeout:2000,
      loop:true,
      margin:10,
      items: 6,
      nav:true,
      autoplay:true,
      autoplayTimeout:1000,
      autoplayHoverPause:true,
      responsive:{
        0:{
          items:1
        },
        600:{
          items:3
        },
        1200:{
          items:9
        },
        1000:{
          items: 8
        }
      }
    });

    $('.loans').owlCarousel({
      autoplayTimeout:2000,
      loop:true,
      margin:10,
      nav:true,
      autoplay:true,
      autoplayTimeout:1000,
      autoplayHoverPause:true,
      responsive:{
        0:{
          items:1
        },
        600:{
          items:3
        },
        1000:{
          items:5
        }
      }
    });
    $("#carosel-home-desk, #carosel-home-mob").owlCarousel({
        loop:true,
        margin:10,
        items: 6,
        nav:true,
        autoplay:true,
        autoplayTimeout:500000,
        autoplayHoverPause:true,
        navigation : true, // Show next and prev buttons
        slideSpeed : 5000,
        paginationSpeed : 400,
        singleItem:true,
        items : 1, 
        // itemsDesktop : false,
        // itemsDesktopSmall : false,
        // itemsTablet: false,
        // itemsMobile : false
    });
  });
</script>
<section class="banner-wrap">
  <div id="carosel-home-desk" class="owl-carousel">
    <div class="carosel-imgs img1">
      <div class="txt-carosel-imgs">
        <!-- <h3>Facilitating all types of Loans from the best banks</h3><br>
        <h3>Associated with best insurance companies</h3><br>
        <h3>Best offers to suit salaried individuals & businessmen</h3><br> -->
      </div>
    </div>
    <div class="carosel-imgs img2">
      <div class="txt-carosel-imgs">
        <!-- <h3><b>Personalized consultation & other services</b></h3>
        <h3>Our Relationship Manager will visit your office or home</h3>
        <ul>
          <li>To make a presentation</li>
          <li>Collect documents</li>
          <li>Get signatures</li>
          <li>Handover policy</li>
          <li>Settle claims</li>
        </ul> -->
      </div>
    </div>
    <!-- <div class="carosel-imgs img3"><%#= image_tag "carosel/desktop/personal-loan-banner.png", alt: "" %></div> -->
  </div>
  <div id="carosel-home-mob" class="owl-carousel">
    <div class="carosel-imgs img1"></div>
    <div class="carosel-imgs img2"></div>
    <!-- <div class="carosel-imgs img3"><%#= image_tag "carosel/mobile/personal-loan-banner.png", alt: "" %></div> -->
  </div>
</section>
<section class="content">
  <div class="container">
    <div class="inner-page homepage margin-bottom-none">
      <div class="row">
        <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <span class="ind-section">Our Products</span>
        </h2>
      </div>
      <section class="car-block-wrap padding-loans">
        <div class="row">
          <div class="col-3 col-md-4 col-lg-3 col-xl-2 ord-10 col-md-6-prd">
            <%= link_to custom_credit_card_path, method: :get do %>
              <div class="pb-product active">
                <h1 class="product-name">Credit Card</h1>
                <p class="product-desc">Learn about the best credit card offers and how to maintain it?</p>
                <div class="product-icon">
                  <%= image_tag "icons/cc-icon.svg", class: "cc-icon" %>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-3 col-md-4 col-lg-3 col-xl-2 ord-10 col-md-6-prd">
            <%= link_to custom_personal_loan_path, method: :get do %>
              <div class="pb-product active">
                <h1 class="product-name">Personal Loan</h1>
                <p class="product-desc">Know everything about documents, eligibility, interest rates, and more...</p>
                <div class="product-icon">
                  <%= image_tag "icons/personal-loan-icon.svg", class: "personal-loan-icon" %>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-3 col-md-4 col-lg-3 col-xl-2 ord-10 col-md-6-prd">
            <%= link_to custom_transfer_personal_loan_path, method: :get do %>
              <div class="pb-product active">
                <h1 class="product-name">Transfer Personal Loan</h1>
                <p class="product-desc">All formalities to transfer from existing to new bank</p>
                <div class="product-icon">
                  <%= image_tag "icons/transfer-personal-loan-icon.svg", class: "transfer-personal-loan-icon" %>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-3 col-md-4 col-lg-3 col-xl-2 ord-10 col-md-6-prd">
            <%= link_to custom_business_loan_path, method: :get do %>
              <div class="pb-product active">
                <h1 class="product-name">Business Loan</h1>
                <p class="product-desc">Learn about the procedure & banks offering best interest</p>
                <div class="product-icon">
                  <%= image_tag "icons/business-loan-icon.svg", class: "business-loan-icon" %>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-3 col-md-4 col-lg-3 col-xl-2 ord-10 col-md-6-prd">
            <%= link_to custom_professional_loan_path, method: :get do %>
              <div class="pb-product active">
                <h1 class="product-name">Professional Loan</h1>
                <p class="product-desc">Know everything about professional category, loan limits and more...</p>
                <div class="product-icon">
                  <%= image_tag "icons/professional-loan-icon.svg", class: "professional-loan-icon" %>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-3 col-md-4 col-lg-3 col-xl-2 ord-10 col-md-6-prd">
            <%= link_to custom_home_loan_path, method: :get do %>
              <div class="pb-product active">
                <h1 class="product-name">Home Loan</h1>
                <p class="product-desc">Best banks, best Interest rates, loan transfer, are you eligible, & more</p>
                <div class="product-icon">
                  <%= image_tag "icons/home-loan-icon.svg", class: "home-loan-icon" %>
                </div>
              </div>
            <%end%>
          </div>
        </div>
        <div class="row">
          <div class="col-3 col-md-4 col-lg-3 col-xl-2 ord-10 col-md-6-prd">
            <%= link_to custom_transfer_home_loan_path, method: :get do %>
              <div class="pb-product active">
                <h1 class="product-name">Transfer Home Loan</h1>
                <p class="product-desc">Know about the formalities and eligibility with best banks.</p>
                <div class="product-icon">
                  <%= image_tag "icons/tr-home-loan-icon.svg", class: "tr-home-loan-icon" %>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-3 col-md-4 col-lg-3 col-xl-2 ord-10 col-md-6-prd">
            <%= link_to custom_loan_against_property_path, method: :get do %>
              <div class="pb-product active">
                <h1 class="product-name">Loan Against Property</h1>
                <p class="product-desc">Learn about Eligibility, Documents, & Interest Rates on LAP, and more.</p>
                <div class="product-icon">
                  <%= image_tag "icons/loan-against-property-icon.svg", class: "loan-against-property-icon" %>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-3 col-md-4 col-lg-3 col-xl-2 ord-10 col-md-6-prd">
            <%= link_to custom_new_car_loan_path, method: :get do %>
              <div class="pb-product active">
                <h1 class="product-name">New Car Loan</h1>
                <p class="product-desc">Auto loan to buy new car. Banks with best interest rates, 90% financing</p>
                <div class="product-icon">
                  <%= image_tag "icons/new-car-loan-icon.svg", class: "new-car-loan-icon" %>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-3 col-md-4 col-lg-3 col-xl-2 ord-10 col-md-6-prd">
            <%= link_to custom_used_car_loan_path, method: :get do %>
              <div class="pb-product active">
                <h1 class="product-name">Used Car Loan</h1>
                <p class="product-desc">Find out about best banks offering pre-owned car<br>loan</p>
                <div class="product-icon">
                  <%= image_tag "icons/used-car-loan-icon.svg", class: "used-car-loan-icon" %>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-3 col-md-4 col-lg-3 col-xl-2 ord-10 col-md-6-prd">
            <%= link_to custom_gold_loan_path, method: :get do %>
              <div class="pb-product active">
                <h1 class="product-name">Gold Loan</h1>
                <p class="product-desc">Best gold loan partners in the market and learn about its documentation process</p>
                <div class="product-icon">
                  <%= image_tag "icons/gold-loan-icon.svg", class: "gold-loan-icon" %>
                </div>
              </div>
            <%end%>
          </div>
          <div class="col-3 col-md-4 col-lg-3 col-xl-2 ord-10 col-md-6-prd">
            <%= link_to custom_insurance_path, method: :get do %>
              <div class="pb-product active">
                <h1 class="product-name">Insurance</h1>
                <div class="product-icon">
                <p class="product-desc">Insurance plans with income friendly premiums & easy slaims settlement.</p>
                  <%= image_tag "icons/insurance-icon.svg", class: "insurance-icon" %>
                </div>
              </div>
            <%end%>
          </div>
        </div>
      </section>
      <div class="homeStrip">
        <div class="row">
          <div class="col-md-12">
            <p>We handle the entire borrowing process for clients, from assisting to choose the right loan from the most apt institution, till the loan is disbursed in your bank.</p>
            <p>Is your loan application rejected because of low credit scores?</p>
            <p>Your credit report shows somebody else’s loan accounts?</p>
            <p>Does Your Credit Reputation Look Skewed Because Of Some Error?</p>
            <p><b>If you’re facing any of the above problems or some other, let our experts guide and assist you to resolve the issues!</b></p>
            <p class="abt-strip">
              <span>
                <i class="fa fa-envelope"></i>&nbsp;
                <a href="mailto:support@growwcapital.com">support@growwcapital.com</a>
              </span>
               <span class="bar"> | </span> 
              <span>
                <i class="fa fa-whatsapp"></i>&nbsp;
                <a href="tel:+918806644344">+91-88066-44344</a>  
              </span>
            </p>
          </div>
        </div>
      </div>
      <section class="pb-feature-section bpb-feature-section">
        <div class="container">
          <div class="row" id="contentAboutHomes">
            <div class="col-md-5">
                <div class="pb-feature">
                  <span class="top-line"></span>
                  <h3>Why Choose GrowwCapital?</h3>
                  <%= image_tag "why-choose-us.png", alt: "" %>
                </div>
            </div>
            <div class="col-md-7">
              <div class="row">
                <div class="col-sm-6">
                  <div class="pb-feature">
                      <%= image_tag "grc-credible.svg", alt: "grc-credible" %>
                      <h3>Unbiased advisor of Loan and Insurance</h3>
                      <p><br><br></p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="pb-feature">
                      <%= image_tag "grc-trustworthy.svg", alt: "grc-trustworthy" %>
                      <h3>Best deals in Loan, Credit cards & Insurance</h3>
                      <p><br><br></p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="pb-feature">
                      <%= image_tag "grc-secure.svg", alt: "grc-secure" %>
                      <h3>Unmatched advisory services</h3>
                      <p><br><br></p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="pb-feature">
                      <%= image_tag "grc-helpful.svg", alt: "grc-helpful" %>
                      <h3>All Types of Lending Solutions</h3>
                      <p><br><br></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <div class="row">
        <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <span class="ind-section">We Serve In Cities</span>
        </h2>
      </div>

      <section class="pb-feature-section pb-feature-section-serve">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <div class="row row1">
                <div class="col-md-3 col-sm-4 col-lg-2 col-xl-2 ord-10 col-md-prd">
                  <a title="Used cars in  Ahmedabad" href="javascript:void(0)">
                    <span class="iconHolder">
                      <%= image_tag "cities/nagpur.svg", "data-lazy": "true", class: "imageTransition active", alt: "Nagpur" %>
                    </span>
                    <span class="pop-city">Nagpur</span>
                  </a>
                </div>
                <div class="col-md-3 col-sm-4 col-lg-2 col-xl-2 ord-10 col-md-prd">
                  <a title="Used cars in  Ahmedabad" href="javascript:void(0)">
                    <span class="iconHolder">
                      <%= image_tag "cities/mumbai.svg", "data-lazy": "true", class: "imageTransition active", alt: "Nagpur" %>
                    </span>
                    <span class="pop-city">Mumbai</span>
                  </a>
                </div>
                <div class="col-md-3 col-sm-4 col-lg-2 col-xl-2 ord-10 col-md-prd">
                  <a title="Used cars in  Ahmedabad" href="javascript:void(0)">
                    <span class="iconHolder">
                      <%= image_tag "cities/indoor.svg", "data-lazy": "true", class: "imageTransition active", alt: "Nagpur" %>
                    </span>
                    <span class="pop-city">Indoor</span>
                  </a>
                </div>
                <div class="col-md-3 col-sm-4 col-lg-2 col-xl-2 ord-10 col-md-prd">
                  <a title="Used cars in  Ahmedabad" href="javascript:void(0)">
                    <span class="iconHolder">
                      <%= image_tag "cities/kolkata.svg", "data-lazy": "true", class: "imageTransition active", alt: "Nagpur" %>
                    </span>
                    <span class="pop-city">Kolkata</span>
                  </a>
                </div>
                <div class="col-md-3 col-sm-4 col-lg-2 col-xl-2 ord-10 col-md-prd">
                  <a title="Used cars in  Ahmedabad" href="javascript:void(0)">
                    <span class="iconHolder">
                      <%= image_tag "cities/hydrabad.svg", "data-lazy": "true", class: "imageTransition active", alt: "Nagpur" %>
                    </span>
                    <span class="pop-city">Hydrabad</span>
                  </a>
                </div>
                <div class="col-md-3 col-sm-4 col-lg-2 col-xl-2 ord-10 col-md-prd">
                  <a title="Used cars in  Ahmedabad" href="javascript:void(0)">
                    <span class="iconHolder">
                      <%= image_tag "cities/pune.svg", "data-lazy": "true", class: "imageTransition active", alt: "Nagpur" %>
                    </span>
                    <span class="pop-city">Pune</span>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 col-sm-4 col-lg-2 col-xl-2 ord-10 col-md-prd">
                  <a title="Used cars in  Ahmedabad" href="javascript:void(0)">
                    <span class="iconHolder">
                      <%= image_tag "cities/ahmdabad.svg", "data-lazy": "true", class: "imageTransition active", alt: "Nagpur" %>
                    </span>
                    <span class="pop-city">Ahmedabad</span>
                  </a>
                </div>
                <div class="col-md-3 col-sm-4 col-lg-2 col-xl-2 ord-10 col-md-prd">
                  <a title="Used cars in  Ahmedabad" href="javascript:void(0)">
                    <span class="iconHolder">
                      <%= image_tag "cities/banglore.svg", "data-lazy": "true", class: "imageTransition active", alt: "Nagpur" %>
                    </span>
                    <span class="pop-city">Banglore</span>
                  </a>
                </div>
                <div class="col-md-3 col-sm-4 col-lg-2 col-xl-2 ord-10 col-md-prd">
                  <a title="Used cars in  Ahmedabad" href="javascript:void(0)">
                    <span class="iconHolder">
                      <%= image_tag "cities/chennai.svg", "data-lazy": "true", class: "imageTransition active", alt: "Nagpur" %>
                    </span>
                    <span class="pop-city">Chennai</span>
                  </a>
                </div>
                <div class="col-md-3 col-sm-4 col-lg-2 col-xl-2 ord-10 col-md-prd">
                  <a title="Used cars in  Ahmedabad" href="javascript:void(0)">
                    <span class="iconHolder">
                      <%= image_tag "cities/delhi.svg", "data-lazy": "true", class: "imageTransition active", alt: "Nagpur" %>
                    </span>
                    <span class="pop-city">Delhi</span>
                  </a>
                </div>
                <div class="col-md-3 col-sm-4 col-lg-2 col-xl-2 ord-10 col-md-prd">
                  <a title="Used cars in  Ahmedabad" href="javascript:void(0)">
                    <span class="iconHolder">
                      <%= image_tag "cities/nashik.svg", "data-lazy": "true", class: "imageTransition active", alt: "Nagpur" %>
                    </span>
                    <span class="pop-city">Nashik</span>
                  </a>
                </div>
                <div class="col-md-3 col-sm-4 col-lg-2 col-xl-2 ord-10 col-md-prd">
                  <a title="Used cars in  Ahmedabad" href="javascript:void(0)">
                    <span class="iconHolder">
                      <%= image_tag "cities/raipur.svg", "data-lazy": "true", class: "imageTransition active", alt: "Nagpur" %>
                    </span>
                    <span class="pop-city">Raipur</span>
                  </a>
                </div>
              </div>              
            </div>
            <div class="col-md-3">
              <div class="chk-city">
                <h4 class="text-center">Check your city</h4>
                <div>
                  <%= select_tag "check_city", options_for_select(only_cities, "") %>
                </div>                
              </div>
            </div>
          </div>
        </div>
      </section>
      <br>
      <section class="pb-happ-section">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-center">
              <%= image_tag "happy-customer.png" %>
              <p>We serve all over <span>15000+</span> clients in india till date</p>
            </div>
            <div class="col-md-6 text-center">
              <%= image_tag "dis-amount.png" %>
              <p>We have disbursed loans amount over <span>10Crore</span><br>from varous banks and NBFS</p>
            </div>
          </div>
        </div>
      </section>

      <div class="row">
        <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <span class="ind-section">Our Partners</span>
        </h2>
      </div>      
    </div>
  </div>
  
  <div class="" style="margin: 0px 40px 0px 40px">
    <section class="padding-loans">
      <div class="owl-carousel partners">
        <div class="scroll_effect part-img-effect bounceInUp">
          <%= image_tag "hdfc-bank.png" %>
        </div>
        <div class="scroll_effect part-img-effect bounceInUp">
          <%= image_tag "idfc-bank.gif"%>
        </div>
        <div class="scroll_effect part-img-effect bounceInUp">
          <%= image_tag "yes-bank.png" %>
        </div>
        <div class="scroll_effect part-img-effect bounceInUp">
          <%= image_tag "tata-capital.webp"%>
        </div>
        <div class="scroll_effect part-img-effect bounceInUp">
          <%= image_tag "icici-bank.png"%>
        </div>
        <div class="scroll_effect part-img-effect bounceInUp">
          <%= image_tag "axis-bank.png" %>
        </div>
        <div class="scroll_effect part-img-effect bounceInUp">
          <%= image_tag "fllutoran.png" %>
        </div>
        <div class="scroll_effect part-img-effect bounceInUp">
          <%= image_tag "au-bank.webp" %>
        </div>
        <div class="scroll_effect part-img-effect bounceInUp">
          <%= image_tag "hero-fincorp.png" %>
        </div>
      </div>
    </section>
  </div>
</section>