<section class="personal-loan-section custom-container">
  <div class="container">
    <div class="col-md-6 p-container profile-container text-center">
      <h4>Welcome to Growwcapital <%= current_user&.full_name %></h4>
      <table class="table">
        <tr>
          <td colspan="2">
            <%= image_tag "default-img.jpg", class: "default-img" %>
          </td>          
        </tr>
        <tr>
          <td>First Name</td>
          <td><%= current_user&.first_name %></td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td><%= current_user&.last_name %></td>
        </tr>
        <tr>
          <td>Mobile Number</td>
          <td><%= current_user&.mobile_number %></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><%= current_user&.full_address %></td>
        </tr>
        <tr>
          <td>Profession</td>
          <td><%= current_user&.profession %></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= current_user&.email %></td>
        </tr>
      </table>
    </div>
  </div>
</section>
