<section>
  <div class="container custom-container" style="margin-top: 80px;">
    <div class="row">
      <div class="col-md-10 text-center thank-you">
        <h1 class="text-center">Thank You!</h1><br>
        <%= image_tag "right.png", alt: "right", style: "width: 15%;" %><br><br>
        <h5>We thank you for submitting the details. We'll depute a Relationship Manager at your service, <br>he will get back to you within 24 hours or less to take the discussion forward.<br>Assuring you of our best and prompt services.</h5>
        <h5>For any queries <a href="/contact_us">Contact Us</a> | <a href="tel:+918806644344">+91-88066-44344</a></h5>
        <h5><p class="text-center"><span>Click on this link to apply directly online.</span> <%= link_to "Continue", session[:thank_you_path], method: :get, class: "btn btn-custom", style: "color: #fff" %></p></h5>
        <br>
        <h5 class="thx-other-services">
          <%= link_to credit_card_path('step1'), method: :get do %>
            <%= image_tag "icons/personal-loan-icon.svg", style: "width: 25px;" %>&nbsp;
          Personal Loan
          <%end%>
          <%= link_to custom_business_loan_path, method: :get do %>
            <%= image_tag "icons/business-loan-icon.svg", style: "width: 25px;" %>&nbsp;
            Business Loan
          <%end%>
          <%= link_to custom_home_loan_path, method: :get do %>
            <%= image_tag "icons/home-loan-icon.svg", style: "width: 25px;" %>&nbsp;
            Home Loan
          <%end%>
          <% session[:thank_you_path] = nil %>
        </h5>
      </div>
    </div>
  </div>
</section>