<section>
  <div class="container  custom-container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center card-title">We can help you to get Personal Bank Loan Transferred to another</h2>
      </div>
    </div>
  </div>
</section>
<div class="container custom-application">
  <div class="row">
    <div class="col-md-6">
      <p>Please provide following details for the application</p>
      <%= form_for @transfer_personal_loan, :url => { :action => "transfer_personal_loan" }, remote: false, html: { class: "custom_transfer_personal_loan" } do |f| %>
          <div class="row">
            <div class="col-md-12">
              <label>Your Full Name</label>
              <%= f.text_field(:full_name, class: "form-control", autofocus: "true") %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Your Mobile Number</label>
              <%= f.number_field(:mobile_number, class: "form-control") %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Your Email</label>
              <%= f.text_field(:email, class: "form-control") %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Your Purpose</label>
              <%= f.select(:loan_purpose, @transfer_personal_loan.loan_reasons, class: "form-control") %>
            </div>
          </div>
          <button type="submit" class="btn btn-custom btn-block">Submit</button>
          <br>
          <p class="text-center"><span style="color: blue;">Click on this link to apply directly.</span> <%= link_to "Apply", transfer_personal_loan_path('step1'), method: :get, style: "color: #0000ff; font-weight: 500;" %></p><br>
      <%end%>
    </div>
    <div class="col-md-6">
      <h4 class="crd-heading">
        <br>
        <span>Call us and we'll designate a Relationship Manager at your service, who'll not only explain various aspects of Personal Loan Transfer but also suggest options of best banks to do it.</span><br><br>For a hassle-free personal loan transfer, fill and send the form. <a href="tel:+918806644344">+91-88066-44344</a></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="credit-card-banks owl-carousel">
        <% TransferPersonalLoanBank.all.uniq.each do |card| %>
          <div class="part-img-effect"><%= image_tag url_for(card.bank_image), width: 200, height: 100 %></div>
        <% end %>
      </div>
    </div>
  </div>
  <br>
</div>
<div class="container application-description">
  <div class="row">
    <div class="col-md-12">
      <br>
      <p class="pl-ser"><strong>Transfer Personal Loan Details</strong></p>
      <div class="row table-responsive">
        <table class="table">
          <tr>
            <td>Interest Rate</td>
            <td>10.25% Onwards</td>
          </tr>
          <tr>
            <td>Processing Fee</td>
            <td>Up to 2% on loan amt.</td>
          </tr>
          <tr>
            <td>Loan Period</td>
            <td>5 years</td>
          </tr>
          <tr>
            <td>Lowest EMI per lac</td>
            <td>2137 for 5 years</td>
          </tr>
        </table>
      </div>
      <p class="pl-ser"><strong>Personal Loan Transfer Eligibility</strong></p>
      <p>If you are over 21 and have taken personal loan from one bank and want to transfer it to another, there are certain eligibility criteria the applicant has to meet, which depends on your repayment capacity to repay the loan along with your creditworthiness.  Other criteria are mentioned as under:</p>
      <p>For example, the applicant must have a running personal loan from another bank.</p>
      <p>Minimum outstanding loan amount should be ₹ 50,000.</p>
      <p>The applicant’s previous bank account from which he took lean should reflect clean EMI payment track record of at least 12 months to be eligible for personal loan transfer.</p>
      <p>CIBIL Score required as per bank policy, typically 700 and above.</p>
      <p class="pl-ser"><strong>Why Do People Opt For Personal Loan Transfer</strong></p>
      <p>Existing personal loan borrowers consider personal loan balance transfer to another bank, if they identify a bank or are referred to a bank that is charging lower her interest rate on current personal loan rates or are looking to avail a personal loan top up.</p>
      <p>Availing the personal loan balance transfer facility offers many benefits like lower interest rate, flexible repayment contract and provision to avail of top-up loan. People also often change their banks when they are not happy with their existing lender bank’s customer service.</p>
      <p class="pl-ser"><strong>Our Financial Representative are the best</strong></p>
      <p>Our Financial Executive will identify and present the best personal loan transfer offers to save you interest on your existing EMIs, avail extra funds to meet your requirements at the best possible interest rate and other benefits.</p>
      <p class="pl-ser"><strong>Key Features of Various Options</strong></p>
      <p>We will explain key features and benefits of each option available that may include information about Interest Rate, availability of top-up loan facility, how to get it done in a hassle free manner with minimum documentation and scope to increase repayment tenure</p>
      <p class="pl-ser"><strong>Processing of Documentation</strong></p>
      <p>Our representative will explain about documents required by bank for balance transfer. You will be required to furnish your latest salary slip, KYC, the current loan statement, bank statement of last six months that reflects repayment schedule. Once you speak to our Rep everything will be clear.</p>
      <p>Use our Balance Transfer <a href="/emi_calculator">Calculator Tool</a> (tool)</p>
      <p class="pl-ser"><strong>Personal loan balance transfer process</strong></p>
      <p>The process to transfer your loan from one bank to another involves the following steps:</p>
      <div style="margin-left: 20px;">
        <p class="pl-ser"><strong>Calculate Accurate Final Savings:</strong></p>
        <p>When you have decided to transfer personal loan from one bank to another because of lower interest rate offer, the applicant should calculate the potential interest savings once bank confirms final rate of interest. Applicant should also take bank charges like processing fee and pre-payment charges into account while making any such calculations.</p>
        <p class="pl-ser"><strong>Apply for Personal Loan at Bew Bank:</strong></p>
        <p>Next step is to apply for <a href="/home/personal_loan">personal loan</a> at new bank. Our executive will help you to submit your loan documents, complete with repayment record.</p>
        <p class="pl-ser"><strong>Obtain NOC from Existing Lender Bank:</strong></p>
        <p>When you apply for personal loan transfer to a new bank, simultaneously you have to request for a NOC and foreclosure letter from your existing lender bank which is required to be submitted for loan processing and sanction.</p>
        <p class="pl-ser"><strong>Loan Agreement Approval & disbursement</strong></p>
        <p>On completion of formalities applicant will obtain sanction letter to process new loan agreement with the new bank. Disbursement from new bank may be received via cheque/demand draft in favor of existing bank that he may deposit against his personal loan account. When bank receives settlement of dues, they’ll cancel all the checks, cancel or withdraw electronic transfer instructions if any to close your loan account.</p>
      </div>
      <p>We’re here to answer all your questions and more. Give us a call on <a href="tel:+918806644344">+91-88066-44344</a></p>
      <p class="pl-ser"><strong>Checkout our other services:</strong></p><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="other-services">
        <%= link_to custom_credit_card_path, method: :get do %>
            <%= image_tag "icons/cc-icon.svg", style: "width: 25px;" %>
            Credit Card
        <%end%>
        <%= link_to custom_personal_loan_path, method: :get do %>
          <%= image_tag "icons/personal-loan-icon.svg", style: "width: 25px;" %>&nbsp;
          Personal Loan
        <%end%>
        <%= link_to custom_business_loan_path, method: :get do %>
          <%= image_tag "icons/business-loan-icon.svg", style: "width: 25px;" %>&nbsp;
          Business Loan
        <%end%>
        <%= link_to custom_professional_loan_path, method: :get do %>
          <%= image_tag "icons/professional-loan-icon.svg", style: "width: 25px;" %>&nbsp;
          Professional Loan
        <%end%>
        <%= link_to custom_home_loan_path, method: :get do %>
          <%= image_tag "icons/home-loan-icon.svg", style: "width: 25px;" %>&nbsp;
          Home Loan
        <%end%>
        <br><br><br>
        <%= link_to custom_transfer_home_loan_path, method: :get do %>
          <%= image_tag "icons/tr-home-loan-icon.svg", style: "width: 25px;" %>&nbsp;
          Transfer Home Loan
        <%end%>
        <%= link_to custom_loan_against_property_path, method: :get do %>
          <%= image_tag "icons/loan-against-property-icon.svg", style: "width: 25px;" %>&nbsp;
          Loan Against Property
        <%end%>
        <%= link_to custom_new_car_loan_path, method: :get do %>
          <%= image_tag "icons/new-car-loan-icon.svg", style: "width: 25px;" %>&nbsp;
          New Car Loan
        <%end%>
        <%= link_to custom_used_car_loan_path, method: :get do %>
          <%= image_tag "icons/used-car-loan-icon.svg", style: "width: 25px;" %>&nbsp;
          Used Car Loan
        <%end%>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.credit-card-banks').owlCarousel({
      loop:true,
      margin:10,
      items: 3,
      nav:true,
      autoplay:true,
      autoplayTimeout:5000,
      autoplayHoverPause:true,
      responsive:{
        0:{
          items:1
        },
        600:{
          items:3
        },
        1200:{
          items: 5
        },
        1000:{
          items: 5
        }
      }
    });
  });
</script>