<section>
  <div class="container  custom-container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center card-title">Looking for Used Car Loan in Nagpur –We Help You Find the Best Cars & Quick Sanctions!</h2>
      </div>
    </div>
  </div>
</section>
<div class="container custom-application">
  <div class="row">
    <div class="col-md-6">
      <p>Please provide following details for the application</p>
      <%= form_for @used_car_loan, :url => { :action => "used_car_loan" }, remote: false, html: { class: "custom_personal_loan" } do |f| %>
          <div class="row">
            <div class="col-md-12">
              <label>Your Full Name</label>
              <%= f.text_field(:full_name, class: "form-control", autofocus: "true") %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Your Mobile Number</label>
              <%= f.number_field(:mobile_number, class: "form-control") %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Your Email</label>
              <%= f.text_field(:email, class: "form-control") %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Your Purpose</label>
              <%= f.select(:loan_purpose, @used_car_loan.loan_reasons, class: "form-control") %>
            </div>
          </div>
          <button type="submit" class="btn btn-custom btn-block">Submit</button>
          <br>
          <p class="text-center"><span style="color: blue;">Click on this link to apply directly.</span> <%= link_to "Apply", used_car_loan_path('step1'), method: :get, style: "color: #0000ff; font-weight: 500;" %></p><br>
      <%end%>
    </div>
    <div class="col-md-6">
      <h4 class="crd-heading">
        <span>If you're looking to buy a second hand or used car and want a loan for it, you've come to the right place. We can help.</span>
        To get up to 90% finance for used cars, hassle-free processing of loan, minimal documentation and quick sanction, fill out the form or talk to us on <a href="tel:+919112345687">+91-91123-45687</a>
        <br><br>
        | Paperless Sanction <br> | Speedy Disbursement <br> | Attractive Interest Rate & EMIs
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="credit-card-banks owl-carousel">
        <% UsedCarLoanBank.all.uniq.each do |card| %>
          <div class="part-img-effect"><%= image_tag url_for(card.bank_image), width: 200, height: 100 %></div>
        <% end %>
      </div>
    </div>
  </div>
  <br>
</div>
<div class="container application-description">
  <div class="row">
    <div class="col-md-12">
      <br>
      <p class="pl-ser"><strong>Used Car Loan Details</strong></p>
      <div class="row table-responsive">
        <table class="table">
          <tr>
            <td>Interest Rate</td>
            <td>10.50% Onwards</td>
          </tr>
          <tr>
            <td>Processing Fees</td>
            <td>Up to 2% on loan amt.</td>
          </tr>
          <tr>
            <td>Loan Period</td>
            <td>5 years</td>
          </tr>
          <tr>
            <td>Lowest EMI per lac</td>
            <td>2149 for 10 years</td>
          </tr>
        </table>
      </div>
      <p class="pl-ser">Pre-owned Car Loan Financing Options with Flexible Loan Tenures</p>
      <p>If you’re planning to buy pre-owned car or repurchase an old car, we can suggest best options and procedure to buy the car of your choice in the easiest quickest manner.</p>
      <p>Once you connect with us we will tell you everything related to procuring it, from used car loan eligibility, fee and charges, will calculate EMI for you and more.</p>
      <p class="pl-ser">Used Car Loan Sanction Parameters</p>
      <p>If you wish to own a pre-used car and need a loan on it, you ought to know that different banks have different polices with regard to used car loans. Some banks sanction the loan on pre-owned cars that are up to 10 years old, and the borrower need to be at least 21 years of age. Generally banks offer loans to salaried as well as self-employed professionals and entrepreneurs as long as you meet all the conditions.</p>
      <p>Our Relationship Manager will present different bank options help you shortlist banks that meet your expectations. They will also assist you to use the <b>Pre-Owned Car Loan EMI calculator</b> to take an informed decision.</p>
      <ul>
        <li>We cannot get you Used Car Loan sanctions if the year of manufacture of the car is older than 2010.</li>
        <li>Minimum Auto Loan amount is INR 100,000 onwards</li>
        <li>Repayment Tenure: 12 months to 60 months</li>
        <li>Documents Required</li>
        <li>KYC income proof of borrower</li>
        <li>RC Book of old car you're planning to buy</li>
      </ul>
      <p class="pl-ser">How we help</p>
      <p>Our office is more than happy to help to choose a car that meets your specific needs and help you till the stage of title transfer for a hassle free experience of buying a pre-owned car. We help you find the right cars, with great reviews and different loan options available against each one of them. We also help you to choose a bank that offers maximum as well as flexible repayment conveniences including pocket-friendly EMIs. Call us to know more <a href="tel:+919112345687">+91-91123-45687</a></p>
      <p class="pl-ser"><strong>Checkout our other services:</strong></p><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div style="margin-bottom: 100px;" class="other-services">
        <%= link_to custom_credit_card_path, method: :get do %>
            <%= image_tag "icons/cc-icon.svg", style: "width: 25px;" %>
            Credit Card
        <%end%>
        <%= link_to custom_transfer_personal_loan_path, method: :get do %>
          <%= image_tag "icons/transfer-personal-loan-icon.svg", style: "width: 25px;" %>&nbsp;
          Transfer Personal Loan
        <%end%>
        <%= link_to custom_business_loan_path, method: :get do %>
          <%= image_tag "icons/business-loan-icon.svg", style: "width: 25px;" %>&nbsp;
          Business Loan
        <%end%>
        <%= link_to custom_professional_loan_path, method: :get do %>
          <%= image_tag "icons/professional-loan-icon.svg", style: "width: 25px;" %>&nbsp;
          Professional Loan
        <%end%>
        <%= link_to custom_home_loan_path, method: :get do %>
          <%= image_tag "icons/home-loan-icon.svg", style: "width: 25px;" %>&nbsp;
          Home Loan
        <%end%>
        <br><br><br>
        <%= link_to custom_transfer_home_loan_path, method: :get do %>
          <%= image_tag "icons/tr-home-loan-icon.svg", style: "width: 25px;" %>&nbsp;
          Transfer Home Loan
        <%end%>
        <%= link_to custom_loan_against_property_path, method: :get do %>
          <%= image_tag "icons/loan-against-property-icon.svg", style: "width: 25px;" %>&nbsp;
          Loan Against Property
        <%end%>
        <%= link_to custom_new_car_loan_path, method: :get do %>
          <%= image_tag "icons/new-car-loan-icon.svg", style: "width: 25px;" %>&nbsp;
          New Car Loan
        <%end%>
        <%= link_to custom_used_car_loan_path, method: :get do %>
          <%= image_tag "icons/used-car-loan-icon.svg", style: "width: 25px;" %>&nbsp;
          Used Car Loan
        <%end%>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.credit-card-banks').owlCarousel({
      loop:true,
      margin:10,
      items: 3,
      nav:true,
      autoplay:true,
      autoplayTimeout:5000,
      autoplayHoverPause:true,
      responsive:{
        0:{
          items:1
        },
        600:{
          items:3
        },
        1200:{
          items: 5
        },
        1000:{
          items: 5
        }
      }
    });
  });
</script>