<%= form_for @disbursement, :url => { :action => @disbursement.id.nil? ? "create" : "update"}, html: {id:  "disbursment-form", class: "disbursment-form"} do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Customer's Full Name</label>
        <%= f.text_field(:customer_full_name, class: "form-control") %>
        <p class='error'><%= show_errors(@disbursement, :customer_full_name) %></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Business Name</label>
        <%= f.text_field(:business_name, class: "form-control") %>
        <p class='error'><%= show_errors(@disbursement, :business_name) %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Mobile Number</label>
        <%= f.number_field(:mobile_number, class: "form-control") %>
        <p class='error'><%= show_errors(@disbursement, :mobile_number) %></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Email</label>
        <%= f.text_field(:email, class: "form-control") %>
        <p class='error'><%= show_errors(@disbursement, :email) %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>State</label>
        <%= f.select(:state, states, {}, class: "form-control") %>
        <p class='error'><%= show_errors(@disbursement, :state) %></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>City</label>
        <%= f.select(:city, cities(f, f.object.state, :city), {}, class: "form-control") %>
        <p class='error'><%= show_errors(@disbursement, :city) %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Product Name</label>
        <%= f.select(:product_name, f.object.loan_types, {}, { class: "form-control" }) %>
        <p class='error'><%= show_errors(@disbursement, :product_name) %></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Processing Date</label>
        <%= f.date_field(:process_date, class: "form-control") %>
        <p class='error'><%= show_errors(@disbursement, :process_date) %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Disburse Date</label>
        <%= f.date_field(:disburse_date, class: "form-control") %>
        <p class='error'><%= show_errors(@disbursement, :disburse_date) %></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>ROI(%)</label>
        <%= f.number_field(:roi, class: "form-control") %>
        <p class='error'><%= show_errors(@disbursement, :roi) %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Processing Fee(Rs.) </label>
        <%= f.number_field(:processing_fee, class: "form-control") %>
        <p class='error'><%= show_errors(@disbursement, :processing_fee) %></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Bank Insurance(Rs.) </label>
        <%= f.number_field(:bank_insurance, class: "form-control") %>
        <p class='error'><%= show_errors(@disbursement, :bank_insurance) %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Disburse Amount(Rs.)</label>
        <%= f.number_field(:disburse_amount, class: "form-control") %>
        <p class='error'><%= show_errors(@disbursement, :disburse_amount) %></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Customer Id</label><br>
        <%= f.text_field(:customer_id, class: "form-control") %>
        <p class='error'><%= show_errors(@disbursement, :customer_id) %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>BT/Inhancement</label><br>
        <%= f.radio_button :bt_inhancement, true %> Yes
        <%= f.radio_button :bt_inhancement, false %> No<br>
        <p class='error'><%= show_errors(@disbursement, :bt_inhancement) %></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>DOB</label>
        <%= f.date_field(:dob, class: "form-control") %>
        <p class='error'><%= show_errors(@disbursement, :dob) %></p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h3>Channel Partner Details</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Executive Full Name</label><br>
        <%= f.text_field(:executive_full_name, class: "form-control") %>
        <p class='error'><%= show_errors(@disbursement, :executive_full_name) %></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Channel Partner</label><br>
        <%= f.select(:channel_partner_id, f.object.channel_partners, {}, class: "form-control") %>
        <p class='error'><%= show_errors(@disbursement, :channel_partner) %></p>
      </div>
    </div>
    <!-- <div class="col-md-4">
      <div class="form-group">
        <label>Channel Partner Code</label><br>
        <span class="channel-partner-code">NONE</span>
      </div>
    </div> -->
  </div>


  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Credit Card</label><br>
        <%= f.radio_button :cc_apply, true %> Yes
        <%= f.radio_button :cc_apply, false %> No<br>
        <p class='error'><%= show_errors(@disbursement, :cc_apply) %></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Insurance</label><br>
        <%= f.radio_button :insurance, true %> Yes
        <%= f.radio_button :insurance, false %> No<br>
        <p class='error'><%= show_errors(@disbursement, :insurance) %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Remark</label><br>
        <%= f.text_area(:remark, class: "form-control") %>
        <p class='error'><%= show_errors(@disbursement, :remark) %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <button type="submit" class="btn btn-info">Submit</button>
      </div>
    </div>
  </div>
<%end%>
