<%= form_tag  @disbursement.id.nil? ? '/sales-manager/create_disbursement' : "/sales-manager/update_disbursement/#{@disbursement.id}", method: @disbursement.id.nil? ? :post : :patch, html: {id:  "disbursment-form", class: "disbursment-form"} do |f| %>
  <div class="row">
    <div class="col-md-4">
      <label><b>Login Entry</b></label>
      <%= select_tag('disbursement[login_entry_id]', options_for_select([['-Select Login Entry-', '']] + @disbursement.login_entries, @disbursement.login_entry&.id), class: 'form-control') %>
      <p class='error'><%= show_errors(@disbursement, :login_entry_id) %></p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Customer's Full Name</label>
        <%= text_field_tag('disbursement[customer_full_name]', @disbursement&.login_entry&.customer_full_name, class: "form-control", disabled: true) %>
        <p class='error'><%= show_errors(@disbursement, :customer_full_name) %></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Company Name</label>
        <%= text_field_tag('disbursement[business_name]', @disbursement&.login_entry&.business_name, class: "form-control", disabled: true) %>
        <p class='error'><%= show_errors(@disbursement, :business_name) %></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Customer Id</label><br>
        <%= text_field_tag('disbursement[customer_id]', @disbursement&.login_entry&.customer_id, class: "form-control", disabled: true) %>
        <p class='error'><%= show_errors(@disbursement, :customer_id) %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Mobile Number</label>
        <%= number_field_tag('disbursement[mobile_number]', @disbursement&.login_entry&.mobile_number, class: "form-control", disabled: true) %>
        <p class='error'><%= show_errors(@disbursement, :mobile_number) %></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Email</label>
        <%= text_field_tag('disbursement[email]', @disbursement&.login_entry&.email, class: "form-control", disabled: true) %>
        <p class='error'><%= show_errors(@disbursement, :email) %></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>DOB</label>
        <%= date_field_tag('disbursement[dob]', @disbursement&.login_entry&.dob&.to_date, class: "form-control", disabled: true) %>
        <p class='error'><%= show_errors(@disbursement, :dob) %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>State</label>
        <%= select_tag('disbursement[state]', options_for_select(states, @disbursement&.login_entry&.state), class: 'form-control', disabled: true) %>
        <p class='error'><%= show_errors(@disbursement, :state) %></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>City</label>
        <%= select_tag('disbursement[city]', options_for_select(cities(@disbursement.login_entry), @disbursement&.login_entry&.city), class: "form-control", disabled: true) %>
        <p class='error'><%= show_errors(@disbursement, :city) %></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Processing Date</label>
        <%= date_field_tag('disbursement[process_date]', @disbursement&.login_entry&.process_date&.to_date, class: "form-control", disabled: true) %>
        <p class='error'><%= show_errors(@disbursement, :process_date) %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Channel Partner</label>
        <%= select_tag('disbursement[channel_partner]', options_for_select([[@disbursement&.login_entry&.channel_partner&.full_name ? @disbursement&.login_entry&.channel_partner&.full_name : '-Select Channel Partner-', '']], {}), class: "form-control", disabled: true) %>
        <p class='error'><%= show_errors(@disbursement, :channel_partner_id) %></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Product Name</label>
        <%= select_tag('disbursement[product_name]', options_for_select(products(@disbursement.login_entry), @disbursement&.login_entry&.product_name), class: "form-control", disabled: true) %>
        <p class='error'><%= show_errors(@disbursement, :product_name) %></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Executive Name</label>
        <%= select_tag('disbursement[executive_name]', options_for_select([[@disbursement&.login_entry&.executive&.full_name ? @disbursement&.login_entry&.executive&.full_name : '-Select Executive Name-', '']], {}), class: "form-control", disabled: true) %>
        <p class='error'><%= show_errors(@disbursement, :executive_name) %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Processing Fee(Rs.) </label>
        <%= number_field_tag('disbursement[processing_fee]', @disbursement.processing_fee, class: "form-control") %>
        <p class='error'><%= show_errors(@disbursement, :processing_fee) %></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Bank Insurance(Rs.) </label>
        <%= number_field_tag('disbursement[bank_insurance]', @disbursement.bank_insurance, class: "form-control") %>
        <p class='error'><%= show_errors(@disbursement, :bank_insurance) %></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Disburse Amount(Rs.)</label>
        <%= number_field_tag('disbursement[disburse_amount]', @disbursement.disburse_amount, class: "form-control") %>
        <p class='error'><%= show_errors(@disbursement, :disburse_amount) %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Disburse Date</label>
        <%= date_field_tag('disbursement[disburse_date]', @disbursement.disburse_date&.to_date, class: "form-control") %>
        <p class='error'><%= show_errors(@disbursement, :disburse_date) %></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>ROI(%)</label>
        <%= number_field_tag('disbursement[roi]', @disbursement.roi, class: "form-control") %>
        <p class='error'><%= show_errors(@disbursement, :roi) %></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>BT/Inhancement</label><br>
        <%= radio_button_tag 'disbursement[bt_inhancement]', true, @disbursement.bt_inhancement == true %> Yes
        <%= radio_button_tag 'disbursement[bt_inhancement]', false, @disbursement.bt_inhancement == false %> No<br>
        <p class='error'><%= show_errors(@disbursement, :bt_inhancement) %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Channel Partner Details</h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Channel Partner Code</label><br>
        <span class="channel-partner-code">
          <%= @disbursement&.login_entry&.channel_partner&.code %>
        </span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Channel Partner Name</label><br>
        <span class="channel-partner-name">
          <%= @disbursement&.login_entry&.channel_partner&.full_name %>
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Add-on Products</h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>Credit Card</label><br>
        <%= radio_button_tag 'disbursement[cc_apply]', true, @disbursement.cc_apply == true %> Yes
        <%= radio_button_tag 'disbursement[cc_apply]', false, @disbursement.cc_apply == false %> No<br>
        <p class='error'><%= show_errors(@disbursement, :cc_apply) %></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Insurance</label><br>
        <%= radio_button_tag 'disbursement[insurance]', true, @disbursement.insurance == true %> Yes
        <%= radio_button_tag 'disbursement[insurance]', false, @disbursement.insurance == false %> No<br>
        <p class='error'><%= show_errors(@disbursement, :insurance) %></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Remark</label><br>
        <%= text_area_tag('disbursement[remark]', @disbursement.remark, class: "form-control") %>
        <p class='error'><%= show_errors(@disbursement, :remark) %></p>
      </div>
    </div>
  </div>
  <% unless current_user.sales_manager? %>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Payment Done?</label>
          <%= check_box_tag('disbursement[payment]', true, @disbursement.payment) %>
        </div>
      </div>
    </div>
  <%end%>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <button type="submit" class="btn btn-info">Submit</button>
      </div>
    </div>
  </div>
<%end%>
