<section>
  <div class="container">
    <div class="row row-heading">
      <div class="col-md-12 heading-container">
        <span class="heading-container">Disbursement Details</span>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <table class="table">
        <tr>
          <th>Customer Full Name:</th>
          <td><%= @disbursement.customer_full_name %></td>
          <th>Mobile Number:</th>
          <td><%= @disbursement.mobile_number %></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><%= @disbursement.email %></td>
          <th>Business Name:</th>
          <td><%= @disbursement.business_name %></td>
        </tr>
        <tr>
          <th>State:</th>
          <td><%= state(@disbursement.state) %></td>
          <th>City:</th>
          <td><%= @disbursement.city %></td>
        </tr>
        <tr>
          <th>Product Type:</th>
          <td><%= @disbursement.product_type %></td>
          <th>Disbursement Amount:</th>
          <td>Rs. <%= @disbursement.disburse_amount %></td>
        </tr>
        <tr>
          <th>Processing Fee:</th>
          <td>Rs. <%= @disbursement.processing_fee %></td>
          <th>Process Date:</th>
          <td><%= show_date(@disbursement.process_date) %></td>
        </tr>
        <tr>
          <th>Disbursement Date:</th>
          <td><%= show_date(@disbursement.disburse_date) %></td>
          <th>Disburse Amount:</th>
          <td>Rs. <%= @disbursement.disburse_amount %></td>
        </tr>
        <tr>
          <th>ROI:</th>
          <td><%= @disbursement.roi %>(%)</td>
          <th>BT/Inhancement:</th>
          <td><%= @disbursement.bt_inhancement ? 'Yes' :  'No' %></td>
        </tr>
        <tr>
          <th colspan="2">Executive Full Name:</th>
          <td colspan="2"><%= @disbursement.executive_full_name %></td>
        </tr>
        <tr>
          <th>Customer Id:</th>
          <td><%= @disbursement.customer_id %></td>
          <th>CC APPLY OR NOT:</th>
          <td><%= @disbursement.cc_apply ? 'Yes' : 'No' %></td>
        </tr>
        <tr>
          <th>Insurance:</th>
          <td><%= @disbursement.insurance ? 'Yes' : 'No' %></td>
          <th>Dob:</th>
          <td><%= show_date(@disbursement.dob) %></td>
        </tr>
        <tr>
          <th>Channel Partner Full Name:</th>
          <td><%= @disbursement.channel_partner&.full_name %></td>
          <th>Channel Partner Code:</th>
          <td><%= @disbursement.channel_partner&.code %></td>
        </tr>
      </table>
    </div>
  </div>
</section>