<section>
  <div class="container">
    <div class="row row-heading">
      <div class="col-md-12 heading-container">
        <span class="heading-container">Disbursement Details</span>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <table class="table">
        <tr>
          <th>Customer Full Name:</th>
          <td><%= @disbursement.login_entry.customer_full_name %></td>
          <th>Mobile Number:</th>
          <td><%= @disbursement.login_entry.mobile_number %></td>
        </tr>
        <tr>
          <th>Email:</th>
          <td><%= @disbursement.login_entry.email %></td>
          <th>Company Name:</th>
          <td><%= @disbursement.login_entry.business_name %></td>
        </tr>
        <tr>
          <th>State:</th>
          <td><%= state(@disbursement.login_entry.state) %></td>
          <th>City:</th>
          <td><%= @disbursement.login_entry.city.titleize %></td>
        </tr>
        <tr>
          <th>Product Type:</th>
          <td><%= @disbursement.login_entry.channel_partner_product.product.name %></td>
          <th>Disbursement Amount:</th>
          <td>Rs. <%= @disbursement.disburse_amount %></td>
        </tr>
        <tr>
          <th>Processing Fee:</th>
          <td>Rs. <%= @disbursement.processing_fee %></td>
          <th>Process Date:</th>
          <td><%= show_date(@disbursement.login_entry.process_date) %></td>
        </tr>
        <tr>
          <th>Disbursement Date:</th>
          <td><%= show_date(@disbursement.disburse_date) %></td>
          <th>Disburse Amount:</th>
          <td>Rs. <%= @disbursement.disburse_amount %></td>
        </tr>
        <tr>
          <th>ROI:</th>
          <td><%= @disbursement.roi %> %</td>
          <th>BT/Inhancement:</th>
          <td><%= @disbursement.bt_inhancement ? 'Yes' :  'No' %></td>
        </tr>
        <tr>
          <th>Co-ordinator Full Name:</th>
          <td><%= @disbursement.user.full_name %></td>
          <th>Bank Name</th>
          <td><%= @disbursement&.login_entry&.bank&.name %></td>
        </tr>
        <tr>
          <th>Customer Id:</th>
          <td><%= @disbursement.login_entry.customer_id %></td>
          <th>CC APPLY OR NOT:</th>
          <td><%= @disbursement.cc_apply ? 'Yes' : 'No' %></td>
        </tr>
        <tr>
          <th>Insurance:</th>
          <td><%= @disbursement.insurance ? 'Yes' : 'No' %></td>
          <th>Dob:</th>
          <td><%= show_date(@disbursement.login_entry.dob) %></td>
        </tr>
        <tr>
          <th>Executive Name</th>
          <td><%= @disbursement.login_entry&.executive&.full_name %></td>
          <th>Payment Done?</th>
          <td><%= @disbursement.payment ? 'Yes' : 'No' %></td>
        </tr>
        <tr>
          <th colspan="4"><h4 style="color: #0000ff;">Channel Partner Details</h4></th>
        </tr>
        <tr>
          <th>Channel Partner Full Name:</th>
          <td><%= @disbursement.login_entry.channel_partner&.full_name %></td>
          <th>Channel Partner Code:</th>
          <td><%= @disbursement.login_entry.channel_partner&.code %></td>
        </tr>
        <% if current_user.accountant? || current_user.admin? %>
          <tr>
            <th colspan="4"><h4>Bank Details</h4></th>
          </tr>
          <tr>
            <th>Bank Name</th>
            <td><%= @disbursement.login_entry.channel_partner.bank.name %></td>
            <th>Account Number</th>
            <td><%= @disbursement.login_entry.channel_partner.account_number %></td>
          </tr>
          <tr>
            <th>IFSC Code</th>
            <td><%= @disbursement.login_entry.channel_partner.ifsc_code %></td>
            <th>MICR Code</th>
            <td><%= @disbursement.login_entry.channel_partner.micr_code %></td>
          </tr>
          <tr>
            <th>Account Type</th>
            <td><%= @disbursement.login_entry.channel_partner.bank_account_type %></td>
            <th>Name as per bank</th>
            <td><%= @disbursement.login_entry.channel_partner.name_as_per_bank %></td>
          </tr>
          <tr>
            <th>Payout Percentage</th>
            <td><%= @disbursement.login_entry.channel_partner_product.payout_percent %> %</td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</section>