<div class="row first-row">
  <div class="col-md-4">
    <div class="form-group">
      <label>Your total desired loan amount
        <i data-toggle="tooltip" data-placement="top" title="Please fill in the loan amount you need to fullfil your financial needs." class="fa fa-info-circle" aria-hidden="true"></i>
      </label>
      <%= f.number_field(:loan_amount, class: "form-control", placeholder: "Rs. 0") %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Tenure
        <i data-toggle="tooltip" data-placement="top" title="Please fill the duration of the loan amount." class="fa fa-info-circle" aria-hidden="true"></i>
      </label>
      <%= f.select(:tenure, tenure, class: "form-control") %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Your monthly net income
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Your post-tax salary excluding any bonus/incentive helps calculate the right loan amount."></i>
      </label>
      <%= f.number_field(:monthly_net_salary, class: "form-control",  placeholder: "Rs. 0") %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label>Mobile number
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="100% privacy guaranteed. We well never share your details."></i>
      </label>
      <%= f.number_field(:mobile_number, class: "form-control", placeholder: "9999999999", value: "#{session[:pl_mobile_number] ? session[:pl_full_name] : f.object.mobile_number}") %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Your current residence city</label>
      <%= f.select(:city, only_cities, class: "form-control") %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Salary received in
        <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Helps to display specific offers based on your salary mode/bank account."></i>
      </label>
      <%= f.select(:bank_name, persoanl_bank_name, class: "form-control") %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= f.check_box(:terms_and_conditions) %>
    <label for='personal_loan_terms_and_conditions' class='tnc_personal_loan_lb'>
      <i>I agree to the applicable <a href="/terms_and_conditions" target="_blank">T&Cs</a>.</i>
    </label><br>
  </div>
</div>

