<div class="row first-row">
  <div class="col-md-4">
    <div class="form-group">
      <label>Your desired loan amount
        <a href="" data-toggle="tooltip" data-placement="top" title="!">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </a>
      </label>
      <%= f.number_field(:loan_amount, class: "form-control", placeholder: "Rs. 0") %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Tenure
        <a href="" data-toggle="tooltip" data-placement="top" title="!">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </a>
      </label>
      <%= f.select(:tenure, tenure, class: "form-control") %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Your monthly net income
        <a href="" data-toggle="tooltip" data-placement="top" title="!">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </a>
      </label>
      <%= f.number_field(:monthly_net_salary, class: "form-control",  placeholder: "Rs. 0") %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label>Mobile number
        <a href="" data-toggle="tooltip" data-placement="top" title="!">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </a>
      </label>
      <%= f.number_field(:mobile_number, class: "form-control", placeholder: "9999999999") %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Your current residence city</label>
      <%= f.select(:city, only_cities, class: "form-control") %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Salary received in</label>
      <%= f.select(:bank_name, persoanl_bank_name, class: "form-control") %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= f.check_box(:terms_and_conditions) %>
    <%= f.label "Terms & Conditions", for: 'personal_loan_terms_and_conditions' %>
  </div>
</div>

