<section id="secondary-banner" class="dynamic-image-6">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>New Personal Loan</h2>
                <h4>Apply for new personal loan</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>FAQ</li>
                </ul>
            </div>
        </div>
    </div>
</section>


  <%= form_for @personal_loan, :url => { :action => "update_personal_loan_assets" }, html: {id:  "personal_loan", class: "personal_loan"} do |f| %>
    <div class="container">
      <div class="row"> 
        <div class="col-md-6">
          <div class="form-group">
            <span>Id Proof(Pan Card, driving licence, aadhar or voting card) <span>*</span></span>
            <%= f.file_field(:id_proof, class: "") %>
             <p class="error"><%= show_errors(@personal_loan, :id_proof) %></p>
          </div>
          <div class="form-group">
            <span>Address Proof(Aadhar card, Voter card, Pension Payment Order(PPO), Property tax receipt, Utility Bill, Passport, Rent Agreement, Gas passbook and receipt, Bank Statement) <span>*</span></span>
            <%= f.file_field(:address_proof, class: "") %>
             <p class="error"><%= show_errors(@personal_loan, :address_proof) %></p>
          </div>
          <div class="form-group">
            <span>Bank Statement(last 6 months) <span>*</span></span>
            <%= f.file_field(:bank_statement, class: "") %>
             <p class="error"><%= show_errors(@personal_loan, :salary_slip) %></p>
          </div>
          <div class="form-group">
            <span>Salary Slip(latest 3 months salary slip)<span>*</span></span>
            <%= f.file_field(:salary_slip, class: "") %>
             <p class="error"><%= show_errors(@personal_loan, :salary_slip) %></p>
          </div>
          <div class="form-group">
            <span>Passport Photo <span>*</span></span>
            <%= f.file_field(:passport_photo, class: "") %>
             <p class="error"><%= show_errors(@personal_loan, :passport_photo) %></p>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </div>
  <%end%>