<section id="secondary-banner" class="dynamic-image-6">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>New Personal Loan</h2>
                <h4>Apply for new personal loan</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>FAQ</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="business-loan-section custom-container">
  <%= form_for @personal_loan, :url => { :action => "updated_address"}, html: { id:  "personal_loan_address", class: "personal_loan_address" } do |f| %>
    <div class="container">
      <div class="row heading">
        <div class="col-md-4">
          <div class="form-group">
            <h3>Address Details</h3>
          </div>
        </div>
      </div>
      <div class="row first-row">
         <div class="col-md-4">
          <div class="form-group">
            <label>Present Address</label>
            <%= f.text_area(:address, class: "form-control") %>
          </div>
        </div>
         <div class="col-md-4">
          <div class="form-group">
            <label>City</label>
            <%= f.select(:city, only_cities,class: "form-control") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Pincode</label>
            <%= f.number_field(:pincode, class: "form-control") %>
          </div>
        </div>
      </div>
       <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Office Address</label>
            <%= f.text_area(:office_address, class: "form-control") %>
          </div>
        </div>
         <div class="col-md-4">
          <div class="form-group">
            <label>Office City</label>
            <%= f.select(:office_city, only_cities,class: "form-control") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Office Pincode</label>
            <%= f.number_field(:office_pincode, class: "form-control") %>
          </div>
        </div>
      </div><br>
      <button type="submit" class="btn btn-custom">Process</button>
    </div>
  <%end%>
</section>