<section id="secondary-banner" class="dynamic-image-6">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>New Personal Loan</h2>
                <h4>Apply for new personal loan</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>FAQ</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="personal-loan-section">
  <%= form_for @personal_loan, :url => { :action => @personal_loan.id.nil? ? "create" : "update"}, html: {id:  "personal_loan", class: "personal_loan"} do |f| %>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <h3>Personal Details</h3>
          </div>
          <div class="form-group">
            <span>First Name <span>*</span></span>
            <%= f.text_field(:first_name, class: "form-control", required: true) %>
          </div>
          <div class="form-group">
            <span>Middle Name <span>*</span></span>
            <%= f.text_field(:middle_name, class: "form-control") %>
          </div>
          <div class="form-group">
            <span>Last Name <span>*</span></span>
            <%= f.text_field(:last_name, class: "form-control") %>
          </div>
          <div class="form-group">
            <span>DOB <span>*</span></span>
            <%= f.date_field(:dob, class: "form-control") %>
          </div>
          <div class="form-group">
            <span>Gender <span>*</span></span>
            <%= f.select(:gender, gender) %>
          </div>
          <div class="form-group">
            <span>Marital Status <span>*</span></span>
            <%= f.select(:marital_status, marital_status, class: "form-control") %>
          </div>
          <div class="form-group">
            <span>Highest Qualification <span>*</span></span>
            <%= f.select(:highest_qualification, highest_qualification, class: "form-control") %>
          </div>
          <div class="form-group">
            <span>Dependent Number <span>*</span></span>
            <%= f.select(:no_of_dependent, dependent_number, class: "form-control") %>
          </div>
          <div class="form-group">
            <span>Stying in current Residence Since: <span>*</span></span>
            <%= f.select(:current_residency_since_year, current_residency_since_year, class: "form-control") %>
          </div>
          <div class="form-group">
            <span>Stying at current City Since: <span>*</span></span>
            <%= f.select(:current_city_since_year, current_city_since_year, class: "form-control") %>
          </div>
          <div class="form-group">
            <span>Personal PAN Number: <span>*</span></span>
            <%= f.text_field(:pan_number, class: "form-control") %>
          </div>
          <div class="form-group">
            <span>Purpose Of Loan: <span>*</span></span>
            <%= f.select(:purpose_of_loan, purpose_of_loan, class: "form-control") %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <h3>Current Residence Details</h3>
          </div>
          <div class="form-group">
            <span>Residential Type: <span>*</span></span>
            <%= f.select(:residential_type, residence_type, class: "form-control") %>
          </div>
          <div class="form-group">
            <span>Address Line 1: <span>*</span></span>
            <%= f.text_area(:address_line1, class: "form-control") %>
          </div>
          <div class="form-group">
            <span>Address Line 2: <span>*</span></span>
            <%= f.text_area(:address_line2, class: "form-control") %>
          </div>
          <div class="form-group">
            <span>Landmark: <span>*</span></span>
            <%= f.text_area(:landmark, class: "form-control") %>
          </div>
          <div class="form-group">
            <span>State: <span>*</span></span>
            <%= f.select(:state, states, class: "form-control") %>
          </div>
          <div class="form-group">
            <span>City: <span>*</span></span>
            <%= f.select(:city, cities, class: "form-control") %>
          </div>
          <div class="form-group">
            <span>Pincode: <span>*</span></span>
            <%= f.number_field(:pincode, class: "form-control") %>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  <%end%>
</section>
