<section id="secondary-banner" class="dynamic-image-6">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>New Professional Loan</h2>
                <h4>Apply for new professional loan</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>FAQ</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="professional-loan-section">
  <%= form_for @professional_loan, :url => { :action => @professional_loan.id.nil? ? "create" : "update"}, html: {id:  "professional_loan", class: "professional_loan"} do |f| %>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <span>Loan Amount (Rs.) <span>*</span></span>
            <%= f.number_field(:loan_amount, step: 0.5, class: "form-control") %>
            <p class="error"><%= show_errors(@professional_loan, :loan_amount) %></p>
          </div>
          <div class="form-group">
            <span>Profession Type (Rs.) <span>*</span></span>
            <%= f.select(:profession_type, profession_type, class: "form-control") %>
            <p class="error"><%= show_errors(@professional_loan, :profession_type) %></p>
          </div>
          <div class="form-group">
            <span>Years In Current Profession <span>*</span></span>
            <%= f.number_field(:current_profession_since_year, class: "form-control") %>
            <p class="error"><%= show_errors(@professional_loan, :current_profession_since_year) %></p>
          </div>
          <div class="form-group">
            <span>Annual Income <span>*</span></span>
            <%= f.number_field(:annual_income, class: "form-control") %>
            <p class="error"><%= show_errors(@professional_loan, :annual_income) %></p>
          </div>
          <div class="form-group">
            <span>Residence City <span>*</span></span>
            <%= f.select(:residence_city, cities, class: "form-control") %>
            <p class="error"><%= show_errors(@professional_loan, :residence_city) %></p>
          </div>
          <div class="form-group">
            <span>Email <span>*</span></span>
            <%= f.text_field(:email, class: "form-control") %>
            <p class="error"><%= show_errors(@professional_loan, :email) %></p>
          </div>
          <div class="form-group">
            <span>Mobile Number <span>*</span></span>
            <%= f.text_field(:mobile_number, class: "form-control") %>
            <p class="error"><%= show_errors(@professional_loan, :mobile_number) %></p>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </div>
  <%end%>
</section>
