<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="">
    <meta name="description" content="<%= @description %>">
    <meta name="keywords" content="<%=  %>">    
    <%= favicon_link_tag asset_path('logo.ico'), :rel => 'icon', :type => "image/x-icon" %>
    <title>GrowwCapital <%= "| #{@title}" if @title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Yellowtail%7COpen%20Sans%3A400%2C300%2C600%2C700%2C800" media="screen"> -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header data-spy="affix" data-offset-top="1" class="clearfix">
      <%= render "layouts/flash_messages" %>
      <div class="bottom-header">
        <div class="container header-strip">
          <div class="row">
            <div class="col-md-12">
              <p>
                <span>
                  <i class="fa fa-envelope"></i>&nbsp;
                  <a href="mailto:support@growwcapital.com">support@growwcapital.com</a>
                </span>
                 <span class="bar"> | </span> 
                <span>
                  <i class="fa fa-whatsapp"></i>&nbsp;
                  <a href="tel:+918806644344">+91-88066-44344</a>  
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="container">
          <nav class="navbar navbar-expand-md navbar-default" role="navigation">
            <div class="container-fluid">
              <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-mobile" aria-controls="navbar-collapse-mobile" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <%= link_to root_path, method: :get, class: "navbar-brand" do %>
                  <%= image_tag "logo2.png", alt: "logo2", class: "main-logo" %>
                <% end %>
              </div>
              <div class="desktop-menu-dropdown collapse navbar-collapse">
                <form action="/" style="display: inline-flex;">
                  <input type="text" placeholder="Search here.." autocomplete="off" class="search-loan" id="search-loan" name="search">
                  <i class="fa fa-search loan-search-ico"></i>
                </form>
              </div>
              <div class="desktop-menu-dropdown collapse navbar-collapse" id="navbar-collapse-desktop">
                <ul class="nav navbar-nav pull-right desktop-nav">
                  <%if request.path != '/' %>
                    <li class="<%= active_tab('index') %>">
                      <%= link_to "Home", root_path, method: :get %>
                    </li>
                  <%end%>
                  <li class="dropdown">
                      <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">All Products</a>
                      <ul class="dropdown-menu">
                        <li><%= link_to "Credit Card", custom_credit_card_path, method: :get %></li>
                        <li><%= link_to "Personal Loan", custom_personal_loan_path, method: :get %></li>
                        <li><%= link_to "Transfer Personal Loan", custom_transfer_personal_loan_path, method: :get %></li>
                        <li><%= link_to "Business Loan", custom_business_loan_path, method: :get %></li>
                        <li><%= link_to "Professional Loan", custom_professional_loan_path, method: :get %></li>
                        <li><%= link_to "Home Loan", custom_home_loan_path, method: :get %></li>
                        <li><%= link_to "Transfer Home Loan", custom_transfer_home_loan_path, method: :get %></li>
                        <li><%= link_to "Loan Against Property", custom_loan_against_property_path, method: :get %></li>
                        <li><%= link_to "New Car Loan", custom_new_car_loan_path, method: :get %></li>
                        <li><%= link_to "Used Car Loan", custom_used_car_loan_path, method: :get %></li>
                      </ul>
                  </li>
                  <li class="<%#= active_tab('pre_approved') %>">
                    <%= link_to "Pre-Approved Offers", pre_approved_path, method: :get %>
                  </li>
                  <li class="<%#= active_tab('emi_calculator') %>">
                    <%= link_to "EMI Calculator", emi_calculator_path, method: :get %>
                  </li>
                  <li class="<%#= active_tab('contact_us') %>">
                    <%= link_to "Contact us", contact_us_path, method: :get %>
                  </li>
                  <li class="<%#= active_tab('about_us') %>">
                    <%= link_to "About us", about_us_path, method: :get %>
                  </li>
                  <!-- <li class="<%#= active_tab('blog') %>">
                    <%#= link_to "Blog", blog_path, method: :get %>
                  </li> -->
                  <li class="">
                    <%= link_to "Franchise", channel_partner_path, method: :get %>
                  </li>
                  <li class="">
                    <%= link_to "Career", career_path, method: :get %>
                  </li>
                  <li class="<%#= active_tab('blog') %>">
                    <%= link_to "Apply Now", "javascript:void(0)", "data-toggle": "modal", "data-target": "#apply-now-modal", id: "show-apply-modal" %>
                  </li>
                  <%if current_user.nil?%>
                  <li class="<%#= active_tab('contact_us') %>">
                    <%= link_to "Sign In", new_user_session_path, method: :get, class: "sign-in" %>
                  </li>
                  <% else %>
                  <li>
                    <%= link_to "My Profile", home_profile_path, method: :get %>
                  </li>
                  <li>
                    <%= link_to "Log Out", destroy_user_session_path, method: :get %>
                  </li>
                  <% end %>
                </ul>
              </div>
              <div class="mobile-menu-dropdown collapse navbar-collapse" id="navbar-collapse-mobile">
                <ul class="nav navbar-nav pull-right">
                  <%if request.path != '/' %>
                    <li class="<%= active_tab('index') %>">
                      <%= link_to "Home", root_path, method: :get %>
                    </li>
                  <%end%>
                  <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">All Products</a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Credit Card", custom_credit_card_path, method: :get %></li>
                      <li><%= link_to "Personal Loan", custom_personal_loan_path, method: :get %></li>
                      <li><%= link_to "Transfer Personal Loan", custom_transfer_personal_loan_path, method: :get %></li>
                      <li><%= link_to "Business Loan", custom_business_loan_path, method: :get %></li>
                      <li><%= link_to "Professional Loan", custom_professional_loan_path, method: :get %></li>
                      <li><%= link_to "Home Loan", custom_home_loan_path, method: :get %></li>
                      <li><%= link_to "Transfer Home Loan", custom_transfer_home_loan_path, method: :get %></li>
                      <li><%= link_to "Loan Against Property", custom_loan_against_property_path, method: :get %></li>
                      <li><%= link_to "New Car Loan", custom_new_car_loan_path, method: :get %></li>
                      <li><%= link_to "Used Car Loan", custom_used_car_loan_path, method: :get %></li>
                    </ul>
                  </li>
                  <li class="<%= active_tab('pre_approved') %>">
                    <%= link_to "Pre Approved Offers", pre_approved_path, method: :get %>
                  </li>
                  <li class="<%= active_tab('about_us') %>">
                    <%= link_to "About Us", about_us_path, method: :get %>
                  </li>
                  <li class="<%= active_tab('emi_calculator') %>">
                    <%= link_to "EMI Calculator", emi_calculator_path, method: :get %>
                  </li>
                  <li class="<%= active_tab('blog') %>">
                    <%= link_to "Blog", blog_path, method: :get %>
                  </li>
                  <li class="<%= active_tab('contact_us') %>">
                    <%= link_to "Contact Us", contact_us_path, method: :get %>
                  </li>
                  <%if current_user.nil?%>
                  <li class="<%= active_tab('contact_us') %>">
                    <%= link_to "Sign In", new_user_session_path, method: :get %>
                  </li>
                  <% else %>
                  <li>
                    <%= link_to "My Profile", home_profile_path, method: :get %>
                  </li>
                  <li>
                    <%= link_to "Log Out", destroy_user_session_path, method: :get %>
                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <div class="header_shadow"></div>
      </div>
    </header>
    <%= yield %>
    <script>
      var revapi;
      jQuery(document).ready(function() {
        revapi = jQuery("#rev_slider").revolution({
          sliderType:"standard",
          sliderLayout:"fullwidth",
          delay:9000,
          navigation: {
              arrows:{enable:true}
          },
          gridwidth:1170,
          gridheight:645
        });
      });
    </script>
    <footer class="design_2">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 padding-left-none md-padding-left-none sm-padding-left-15 xs-padding-left-15">
            <h4>At your service:</h4>
            <p>When you give <a href="/">GrowwCapital</a> any task, no matter how big or small, it is an opportunity for us to prove that we know our business & that you can trust us!
            </p>
            <%= form_for 'newsletter', path: home_newsletter_path, html: {id:  "newsletter", class: "newsletter"} do |f| %>
            <%= f.email_field(:email, class: "form-control", placeholder: "Email Address", required: true) %>
            <input type="submit" value="Subscribe" class="md-button" style="cursor: pointer;">
            <% end %>            
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 padding-right-none md-padding-right-none sm-padding-right-15 xs-padding-right-15">
            <h4>Contact us</h4>
            <div class="footer-contact">
              <ul>
                <li><i class="fa fa-map-marker"></i> <strong>Address:</strong> 2nd Floor, Gupta Travels Building, Lokmat Square, Nagpur - 440012</li>
                <li><i class="fa fa-phone"></i> <strong>Phone:</strong><a href="tel:+918806644344">+91-88066-44344</a></li>
                <li><i class="fa fa-envelope-o"></i> <strong>Email:</strong><a href="mailto:support@growwcapital.com">support@growwcapital.com</a></li>
              </ul>
              <!-- <i class="fa fa-location-arrow back_icon"></i> -->
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <h4>Work With Us</h4>
            <ul style="list-style: none; padding: 0px;">
              <li><a href="/channel_partner">Franchise</a></li>
              <li><a href="/career">Career</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div class="clearfix"></div>
    <section class="copyright-wrap padding-bottom-10">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="logo-footer margin-bottom-20 md-margin-bottom-20 sm-margin-bottom-10 xs-margin-bottom-20">
              <a href="#">
                <%= image_tag "logo2.png", alt: "logo2" %>
            </div>
            <p>Copyright &copy; <%= "#{Time.zone.now.year}" %> Growwcapital.com. All rights reserved.</p>
          </div>
          <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
          <ul class="social margin-bottom-25 md-margin-bottom-25 sm-margin-bottom-20 xs-margin-bottom-20 xs-padding-top-10 clearfix">
          <li><a class="sc-1" style="display: none;" href="javascript:void(0)"></a></li>
          <li><a class="sc-1" href="#"></a></li>
          <li><a class="sc-2" href="#"></a></li>
          <li><a class="sc-3" href="#"></a></li>
          <li><a class="sc-5" href="#"></a></li>
          <li><a class="sc-9" href="#"></a></li>
          <li><a class="sc-11" href="#"></a></li>
          </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="back_to_top">
      <i class="fa fa-angle-up"></i>
    </div>

    <!-- Apply now modal START -->

    <div class="modal fade" id="apply-now-modal" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title text-center">Apply Now</h4>
            <p>Apply for loan/credit card directly!</p>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
          <%= form_for @instant_call, :url => home_instant_call_path, remote: true, html: { id:  "frm-apply-now", class: "frm-apply-now" } do |f| %>
              <div class="row">
                <div class="col-md-12">
                  <label>Full Name</label>
                  <%= f.text_field(:full_name, class: "form-control") %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>Mobile Number</label>
                  <%= f.number_field(:mobile_number, class: "form-control") %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>Products</label>
                  <%= f.select(:product_name, f.object.products, class: "form-control") %>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-custom btn-block">Submit</button>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>

    <!-- Apply now modal END -->

  </body>
</html>