<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="">
    <meta name="description" content="<%= @description %>">
    <meta name="keywords" content="<%=  %>">
    <meta name="google-site-verification" content="vluZCVNoRTrhS0n-KvdHFdGkSzJnq1wIS1zWyIOq9h0" />
    <meta name="p:domain_verify" content="db0ae1b307e7cdf553ddd22f957546f8"/>
    <link rel="canonical" href="<%= request.url %>" />
    <%= favicon_link_tag asset_path('logo.ico'), :rel => 'icon', :type => "image/x-icon" %>
    <title><%= "#{@title}" if @title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PR8TLH04L2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-PR8TLH04L2');
    </script>
  </head>
  <body>
    <div class="new-loading">Loading&#8230;</div>
    <header data-spy="affix" data-offset-top="1" class="clearfix">
      <%= render "layouts/flash_messages" %>
      <div class="bottom-header">
        <div class="container header-strip">
          <div class="row">
            <div class="col-md-12">
              <p>
                <span class="sp-refer-earn">
                  <span>
                    <i class="fa fa-money"></i>&nbsp;
                    <b><%= link_to "Refer & Earn", "javascript:void(0)", "data-toggle": "modal", "data-target": "#refer-earn-modal", id: "show-refer-earn" %></b>
                  </span>
                  <span class="bar"> | </span>
                </span>
                <span>
                  <i class="fa fa-phone"></i>&nbsp;
                  <a href="tel:+919112345687">+91-91123-45687</a>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="container">
          <nav class="navbar navbar-expand-md navbar-default" role="navigation">
            <div class="container-fluid">
              <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-mobile" aria-controls="navbar-collapse-mobile" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="fa fa-bars navbar-toggler-icon"></span>
                </button>
                <%= link_to root_path, method: :get, class: "navbar-brand" do %>
                  <%= image_tag "logo2.png", alt: "logo2", class: "main-logo" %>
                <% end %>
              </div>
              <div class="desktop-menu-dropdown collapse navbar-collapse">
                <form action="/" style="display: inline-flex;">
                  <input type="text" placeholder="Search here.." autocomplete="off" class="search-loan" id="search-loan" name="search">
                  <i class="fa fa-search loan-search-ico"></i>
                </form>
              </div>
              <div class="desktop-menu-dropdown collapse navbar-collapse" id="navbar-collapse-desktop">
                <ul class="nav navbar-nav pull-right desktop-nav">
                  <%if request.path != '/' %>
                    <li class="<%= active_tab('index') %>">
                      <%= link_to "Home", root_path, method: :get %>
                    </li>
                  <%end%>
                  <li class="dropdown">
                      <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Our Services</a>
                      <ul class="dropdown-menu" style="opacity: 1;">
                        <li><%= link_to "Credit Card", custom_credit_card_path, method: :get %></li>
                        <li><%= link_to "Personal Loan", custom_personal_loan_path, method: :get %></li>
                        <li><%= link_to "Transfer Personal Loan", custom_transfer_personal_loan_path, method: :get %></li>
                        <li><%= link_to "Business Loan", custom_business_loan_path, method: :get %></li>
                        <li><%= link_to "Professional Loan", custom_professional_loan_path, method: :get %></li>
                        <li><%= link_to "Home Loan", custom_home_loan_path, method: :get %></li>
                        <li><%= link_to "Transfer Home Loan", custom_transfer_home_loan_path, method: :get %></li>
                        <li><%= link_to "Loan Against Property", custom_loan_against_property_path, method: :get %></li>
                        <li><%= link_to "New Car Loan", custom_new_car_loan_path, method: :get %></li>
                        <li><%= link_to "Used Car Loan", custom_used_car_loan_path, method: :get %></li>
                        <li><%= link_to "Gold Loan", custom_gold_loan_path, method: :get %></li>
                        <!-- <li><%#= link_to "Insurance", custom_insurance_path, method: :get %></li> -->
                      </ul>
                  </li>
                  <li class="<%#= active_tab('pre_approved') %>">
                    <%= link_to "Pre-Approved Offers", pre_approved_path, method: :get %>
                  </li>
                  <li class="dropdown<%#= active_tab('emi_calculator') %>">
                    <%= link_to "EMI Calculator", emi_calculator_path, method: :get,  class: "dropdown-toggle emi-calculator-link", "data-toggle": "dropdown" %>
                    <ul class="dropdown-menu h-emai-calc">
                      <li>
                        <form action="javascript:void(0)">
                          <div class="row">
                            <div class="col-md-12">
                              <p class="p-emi-cal">EMI CALCULATOR</p>
                              <input type="number" class="loan_amount form-control" placeholder="Loan Amount"><br>
                              <input type="number" class="roi form-control" placeholder="ROI(%)"><br>
                              <input type="number" class="tenure form-control" placeholder="Tenure(Months)"><br>
                              <button class="cal-emi btn btn-custom btn-block">Calculate</button>
                            </div>
                          </div>
                          <br>
                          <div class="calculated-emi">
                            <p>EMI: <b>₹&nbsp;</b> <span class="clt-emi"></span></p>
                            <p>Interest Amount: <b>₹&nbsp;</b> <span class="clt-ia"></span></p>
                            <p>Total Amount: <b>₹&nbsp;</b> <span class="clt-ta"></span></p>
                          </div>
                        </form>
                      </li>
                    </ul>
                  </li>
                  <li class="<%#= active_tab('blog') %>">
                    <%= link_to "Apply Now", "javascript:void(0)", "data-toggle": "modal", "data-target": "#apply-now-modal", id: "show-apply-modal" %>
                  </li>
                  <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">More...</a>
                    <ul class="dropdown-menu" style="opacity: 1;">
                      <li class="<%#= active_tab('contact_us') %>">
                        <%= link_to "Contact us", contact_us_path, method: :get %>
                      </li>
                      <li class="<%#= active_tab('about_us') %>">
                        <%= link_to "About us", about_us_path, method: :get %>
                      </li>
                      <!-- <li class="<%#= active_tab('blog') %>">
                        <%#= link_to "Blog", blog_path, method: :get %>
                      </li> -->
                      <li class="">
                        <%= link_to "Franchise", channel_partner_path, method: :get %>
                      </li>
                      <li class="">
                        <%= link_to "Career", career_path, method: :get %>
                      </li>
                    </ul>
                  </li>
                  <%if current_user.nil?%>
                  <li class="<%#= active_tab('contact_us') %>">
                    <%= link_to "Sign In", new_user_session_path, method: :get, class: "sign-in" %>
                  </li>
                  <% else %>
                  <li>
                    <%= link_to "My Profile", home_profile_path, method: :get %>
                  </li>
                  <li>
                    <%= link_to "Log Out", destroy_user_session_path, method: :get %>
                  </li>
                  <% end %>
                </ul>
              </div>
              <div class="mobile-menu-dropdown collapse navbar-collapse" id="navbar-collapse-mobile">
                <ul class="nav navbar-nav pull-right">
                  <%if request.path != '/' %>
                    <li class="<%= active_tab('index') %>">
                      <%= link_to "Home", root_path, method: :get %>
                    </li>
                  <%end%>
                  <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Our Services</a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Credit Card", custom_credit_card_path, method: :get %></li>
                      <li><%= link_to "Personal Loan", custom_personal_loan_path, method: :get %></li>
                      <li><%= link_to "Transfer Personal Loan", custom_transfer_personal_loan_path, method: :get %></li>
                      <li><%= link_to "Business Loan", custom_business_loan_path, method: :get %></li>
                      <li><%= link_to "Professional Loan", custom_professional_loan_path, method: :get %></li>
                      <li><%= link_to "Home Loan", custom_home_loan_path, method: :get %></li>
                      <li><%= link_to "Transfer Home Loan", custom_transfer_home_loan_path, method: :get %></li>
                      <li><%= link_to "Loan Against Property", custom_loan_against_property_path, method: :get %></li>
                      <li><%= link_to "New Car Loan", custom_new_car_loan_path, method: :get %></li>
                      <li><%= link_to "Used Car Loan", custom_used_car_loan_path, method: :get %></li>
                      <li><%= link_to "Gold Loan", custom_gold_loan_path, method: :get %></li>
                      <!-- <li><%#= link_to "Insurance", custom_insurance_path, method: :get %></li> -->
                    </ul>
                  </li>
                  <li class="<%= active_tab('pre_approved') %>">
                    <%= link_to "Pre-Approved Offers", pre_approved_path, method: :get %>
                  </li>
                  <li class="<%= active_tab('about_us') %>">
                    <%= link_to "About Us", about_us_path, method: :get %>
                  </li>
                  <li class="">
                    <%= link_to "Franchise", channel_partner_path, method: :get %>
                  </li>
                  <li class="">
                    <%= link_to "Career", career_path, method: :get %>
                  </li>
                  <li class="<%= active_tab('emi_calculator') %>">
                    <%= link_to "EMI Calculator", emi_calculator_path, method: :get %>
                  </li>
                  <!-- <li class="<%#= active_tab('blog') %>">
                    <%#= link_to "Blog", blog_path, method: :get %>
                  </li> -->
                  <li class="<%#= active_tab('blog') %>">
                    <%= link_to "Apply Now", "javascript:void(0)", "data-toggle": "modal", "data-target": "#apply-now-modal", id: "sshow-apply-modal" %>
                  </li>
                  <li class="<%= active_tab('contact_us') %>">
                    <%= link_to "Contact Us", contact_us_path, method: :get %>
                  </li>
                  <%if current_user.nil?%>
                    <li class="<%= active_tab('contact_us') %>">
                      <%= link_to "Sign In", new_user_session_path, method: :get %>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to "My Profile", home_profile_path, method: :get %>
                    </li>
                    <li>
                      <%= link_to "Log Out", destroy_user_session_path, method: :get %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="design_2">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <h4>At your service:</h4>
            <p>When you give <a href="/">GrowwCapital</a> any task, no matter how big or small, it is an opportunity for us to prove that we know our business & that you can trust us!
            </p>
            <%= form_for 'newsletter', path: home_newsletter_path, html: {id:  "newsletter", class: "newsletter"} do |f| %>
            <%= f.email_field(:email, class: "form-control", placeholder: "Email Address", required: true) %>
            <input type="submit" value="Subscribe" class="btn btn-custom" style="cursor: pointer;border-radius: 0px;height: 35px;">
            <% end %>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <h4>Contact us</h4>
            <div class="footer-contact">
              <ul>
                <li><i class="fa fa-map-marker"></i> <strong>Address:</strong> GrowwCapital, Civil Lines Opposite of Mg House, Beside of Nanking's Hotel, Nagpur - 440001</li>
                <li><i class="fa fa-phone"></i> <strong>Phone:</strong><a href="tel:+919112345687">+91-91123-45687</a></li>
                <li><i class="fa fa-envelope-o"></i> <strong>Email:</strong><a href="mailto:support@growwcapital.com">support@growwcapital.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
            <h4>Work With Us</h4>
            <ul style="list-style: none; padding: 0px;">
              <li><a href="/channel_partner">Franchise</a></li>
              <li><a href="/career">Career</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <h4>Terms and Policy</h4>
            <ul style="list-style: none; padding: 0px;">
              <li><a href="/terms_and_conditions">Terms and Conditions</a></li>
              <li><a href="/privacy_policy">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 footer-other-images">
            <%= image_tag "india-flag.png", alt: 'Made In India', class: "india-flag" %>
            <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=nCEM6zLMkoGrDtJpJyTq6dRN5buMnpp2iUB8KrJuakCfDuXBTzTScbzcNa3E"></script></span>
          </div>
        </div>
      </div>
    </footer>
    <div class="clearfix"></div>
    <section class="copyright-wrap padding-bottom-10">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="logo-footer margin-bottom-20 md-margin-bottom-20 sm-margin-bottom-10 xs-margin-bottom-20">
              <a href="#">
                <%= image_tag "logo2.png", alt: "logo2" %>
              </a>
            </div>
            <p>Copyright &copy; <%= "#{Time.zone.now.year}" %> <a href="https://digitalweblix.com/">digitalweblix.com</a>. All rights reserved.</p>
          </div>
          <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 social-media-icons">
            <ul class="social margin-bottom-25 md-margin-bottom-25 sm-margin-bottom-20 xs-margin-bottom-20 xs-padding-top-10 clearfix">
              <li><a class="sc-1" href="https://www.facebook.com/growwcapital" target="_blank"></a></li>
              <li><a class="sc-2" href="https://twitter.com/growwcapital_" target="_blank"></a></li>
              <!-- <li><a class="sc-3" href="#"></a></li> -->
              <li><a class="sc-5" href="https://www.linkedin.com/company/growwcapital-pvt-ltd/?viewAsMember=true" target="_blank"></a></li>
              <!-- <li><a class="sc-9" href="#"></a></li> -->
              <li><a class="sc-11" href="https://www.instagram.com/growwcapital_/" target="_blank"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div class="refer-earn-bottom">
      <div class="row">
        <div class="col-md-12 refer-earn">
          <%= link_to "Refer & Earn", "javascript:void(0)", "data-toggle": "modal", "data-target": "#refer-earn-modal", id: "" %>
        </div>
      </div>
    </div>
    <div class="back_to_top">
      <i class="fa fa-angle-up"></i>
    </div>

    <!-- Apply now modal START -->
    <div class="modal fade" id="apply-now-modal" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title text-center">Apply Now</h4>
            <p>Apply for loan/credit card directly!</p>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
          <%= form_for @instant_call, :url => home_instant_call_path, remote: true, html: { id:  "frm-apply-now", class: "frm-apply-now" } do |f| %>
              <div class="row">
                <div class="col-md-12">
                  <label>Full Name</label>
                  <%= f.text_field(:full_name, class: "form-control") %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>Mobile Number</label>
                  <%= f.number_field(:mobile_number, class: "form-control") %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>Products</label>
                  <%= f.select(:product_name, f.object.loan_types, class: "form-control") %>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-custom btn-block">Submit</button>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
    <!-- Apply now modal END -->

    <!-- Apply now modal START -->

    <div class="modal fade" id="refer-earn-modal" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title text-center">Refer & Earn</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
          <%= form_for @refer_earn, :url => home_refer_earn_path, remote: true, html: { id:  "frm-refer-earn", class: "frm-refer-earn" } do |f| %>
              <div class="row">
                <div class="col-md-12">
                  <label>Full Name
                    <i data-toggle="tooltip" data-placement="top" title="Your Friend/ Family member full name." class="fa fa-info-circle" aria-hidden="true"></i>
                  </label>
                  <%= f.text_field(:full_name, class: "form-control") %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>Mobile Number
                    <i data-toggle="tooltip" data-placement="top" title="Your Friend/ Family member mobile number." class="fa fa-info-circle" aria-hidden="true"></i>
                  </label>
                  <%= f.number_field(:mobile_number, class: "form-control") %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>Products</label>
                  <%= f.select(:product_name, f.object.loan_types, class: "form-control") %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>Your Full Name
                  </label>
                  <%= f.text_field(:referer_full_name, class: "form-control") %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>Your Mobile Number
                  </label>
                  <%= f.number_field(:referer_mobile_number, class: "form-control") %>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-custom btn-block">Submit</button>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
    <!-- Apply now modal END -->

  </body>
</html>
