<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="">
    <meta name="description" content="<%= @description %>">
    <meta name="keywords" content="<%=  %>">
    <meta name="google-site-verification" content="vluZCVNoRTrhS0n-KvdHFdGkSzJnq1wIS1zWyIOq9h0" />
    <%= favicon_link_tag asset_path('logo.ico'), :rel => 'icon', :type => "image/x-icon" %>
    <title>GrowwCapital <%= "| #{@title}" if @title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'personal_admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'personal_admin', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PR8TLH04L2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-PR8TLH04L2');
    </script>
  </head>
  <body>
    <div class="sales-manager-menu d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
      <a href="/sales-manager" class="heading d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white">
        <%= image_tag "logo.png", alt: "logo", class: "main-logo" %>
        <span class="fs-4">Sales Manager</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <% unless current_user.sales_manager? %>
          <li class="nav-item">
            <a href="/sales-manager/channel-partners" class="nav-link <%= 'active' if request.path.include?('channel-partner') %>" aria-current="page">
              <i class="fa fa-exchange" aria-hidden="true"></i>&nbsp;&nbsp;Channel Partners
            </a>
          </li>
        <%end%>
        <li class="nav-item">
          <a href="/sales-manager/login-entries" class="nav-link <%= 'active' if request.path.include?('login') %>" aria-current="page">
            <i class="fa fa-exchange" aria-hidden="true"></i>&nbsp;&nbsp;Login Entries
          </a>
        </li>
        <li class="nav-item">
          <a href="/sales-manager/disbursements" class="nav-link <%= 'active' if request.path.include?('disbursement') %>" aria-current="page">
            <i class="fa fa-exchange" aria-hidden="true"></i>&nbsp;&nbsp;Disbursements
          </a>
        </li>
      </ul>
      <hr>
      <div class="sales-manager-profile">
        <%= link_to '/home/profile' do %>
          <%if current_user.profile_image.attachment.blank? %>
            <%= image_tag "default-img.jpg", class: "default-img rounded-circle me-2", alt: "", width: "40", height: "40" %>
          <%else%>
            <%= image_tag "#{url_for(current_user.profile_image)}", class: 'rounded-circle me-2', alt: "", width: "40", height: "40" %>
          <%end%>
        <%end%>
        <span><%= current_user.full_name %></span>
        <%= link_to destroy_user_session_path, title: 'Log Out', class: 'logout' do %>
          <i class="fa fa-sign-out"></i>
        <%end%>
      </div>
    </div>
    <div class="personal_admin_body">
      <%= render "layouts/personal_admin_flash_messages" %>
      <%= yield %>
    </div>
  </body>
</html>
